<block name="content">
<link href="__STATIC__/css/case.css"  rel="stylesheet">
<script type="text/javascript" src="__STATIC__/js/jquery-1.9.1.js" ></script>
<script type="text/javascript">
$(function (){
  $(".case-nav a").click(function (){
      var tabLiArr = $(this).parent().find("a");
      var tabShowArr = $(this).parents(".tabbar").nextAll(".child-tab-show");
      var index = $.inArray(this,tabLiArr);
      if($(tabShowArr).eq(index)){
        $(tabLiArr).removeClass("current").eq(index).addClass("current");
        $(tabShowArr).addClass("hide").eq(index).removeClass("hide");
      }
  })
  
})
</script>
<style>
.hide {
	display: none !important;
}
</style>
<div class="case-top-banner"></div>
<div class="lf-content">
  <ul class="lf-case">
    <li>
     <a href="javascript:if(confirm('http://#/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://#/'" >
      <div class="p36">
        <h3>湖南卫视快乐购</h3>
        <p>国内首家A股上市的家庭电视购物企业。是一家以电视、网络、型录、手机购物等多媒体通路为销售平台的现代流通企业,快乐购专注开拓中国蓬勃发展之新一代家庭购物市场。</p>
      </div>
      <img src="__STATIC__/images/case/case_07.jpg"  alt="央广购物">
      </a></li>
    <li>
         <a href="javascript:if(confirm('http://#/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://#/'" >
      <div class="p36">
        <h3>贝因美妈妈购</h3>
        <p>妈妈购为母婴品牌贝因美旗下的官方购物网站。主要提供贝因美奶粉、喂养用品、洗浴护肤产品等适合孕妈妈，以及小宝贝的生活用品。</p>
      </div>
      <img src="__STATIC__/images/case/case_02.jpg"  alt="贝因美妈妈购"></a></li>
    <li>
     <a href="javascript:if(confirm('http://#/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://#/shop/'" >
      <div class="p36">
        <h3>中大门</h3>
        <p>中大门依托河南省保税物流中心，为消费者提供来自全球六十多个国家的原装进口商品，同时基于线下体验店和依托河南保税中心的E贸易也为中大门在跨境电商领域带来更为旺盛的生命力。</p>
      </div>
      <img src="__STATIC__/images/case/case_03.jpg"  alt="中大门"></a></li>
    <li>
     <a href="javascript:if(confirm('http://#/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://#/'" >
      <div class="p36">
        <h3>修正药业</h3>
        <p>修正健康商城是修正集团重点打造的O2O生活服务平台。修正健康商城秉承修正集团“修正、修养、修元”的“三修”理论的指导，结合目前国人的健康状况，为用户提供专业的健康产品以及服务。</p>
      </div>
      <img src="__STATIC__/images/case/case_01.jpg"  alt="修正药业"></a></li>
    <li>
    <a href="javascript:if(confirm('#  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='#'" >
      <div class="p36">
        <h3>蜂巢网</h3>
        <p>专业手机零售O2O网站平台,一直秉承“传诚信、乐分享”的经营理念。为广大网友提供数码产品方面的购物分享。</p>
      </div>
      <img src="__STATIC__/images/case/case_04.jpg"  alt="蜂巢网"></a></li>
  
      
      <!--    <li>
      <div class="p36">
        <h3>韵达 优递爱</h3>
        <p>经营韵达公司的国际业务板块，包括国际仓储物流和跨境电商（UDA优递爱商城）两大业务。</p>
      </div>
      <img src="http://www.shopnc.net/__STATIC__/images/case/case_04.jpg" alt="韵达 优递爱"> </li>-->
       <li>
         <a href="javascript:if(confirm('#  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='#'" >
      <div class="p36">
        <h3>卡当商城</h3>
        <p>卡当网是国内专业的个性礼品定制服务平台,提供时尚饰品、工艺礼品、食品礼盒、个性照片礼物等数千款礼品,是定制创意生日礼物、个性礼物/礼品的好帮手。</p>
      </div>
      <img src="__STATIC__/images/case/case_06.jpg"  alt="卡当商城"></a></li>
    <li>
     <a href="javascript:if(confirm('#  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='#'" >
      <div class="p36">
        <h3>米米乐商城</h3>
        <p>米米乐(mmloo.com)拥有线下3C实体店30多家，是西南地区最大的网上综合性商城，目前主要销售电脑、手机、数码、食品等四大类产品。</p>
      </div>
      <img src="__STATIC__/images/case/case_05.jpg"  alt="米米乐商城"></a></li>
    <li>
     <a href="javascript:if(confirm('#  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='#'" >
      <div class="p36">
        <h3>车家佳</h3>
        <p>车家佳为浙江中大元通汽车O2O商务模式的线上平台。主营新车销售、二手车服务、汽车金融、汽车后服务、汽车社区等业务。</p>
      </div>
      <img src="__STATIC__/images/case/case_08.jpg"  alt="车家佳"></a></li>
    
    <!--  <li>
      <div class="p36">
        <h3>金海马</h3>
        <p>全国O2O家居商城领先品牌,25年专注一站式家居购物平台,中国最大家居连锁品牌！</p>
      </div>
      <img src="http://www.shopnc.net/__STATIC__/images/case/case_08.jpg" alt="金海马"> </li>-->
  </ul>
</div>
<div class="lf-wrap">
  <div class="lf-content">
    <div class="lf-title">
      <h3>更多优秀客户案例请看这里</h3>
    </div>
    <div class="case-nav tabbar"> <b>按分类查看：</b> |<a class="current" href="javascript:void(0)">综合百货</a> |<a href="javascript:void(0)">跨境零售</a> |<a href="javascript:void(0)">电视传媒</a> |<a href="javascript:void(0)">社区O2O</a> |<a href="javascript:void(0)">农业电商</a> |<a href="javascript:void(0)">工业制造业</a> |<a href="javascript:void(0)">汽车行业</a> |<a href="javascript:void(0)">母婴</a> |<a href="javascript:void(0)">医药</a> |<a href="javascript:void(0)">家具建材</a> |<a href="javascript:void(0)">其他</a> </div>
    <div class="lf-more-case child-tab-show">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.kadang.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.kadang.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/zhbh_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>卡当商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.360duohui.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.360duohui.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/zhbh_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>多汇网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.pandakorea.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.pandakorea.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/zhbh_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>盼达网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.yffsc.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.yffsc.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/zhbh_04.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>杭州意法商城</h3>
          </div>
          </a> </li>
       <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://vip.efeihu.com/shop/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://vip.efeihu.com/shop/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/zhbh_05.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>飞虎乐购</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.tc8838.com/shop/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.tc8838.com/shop/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/zhbh_06.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>天城网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.dbego.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.dbego.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/zhbh_07.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>德州百货商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://sh.meiling.com/shop/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://sh.meiling.com/shop/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/zhbh_08.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>中铁快运商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://yimu100.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://yimu100.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/zhbh_09.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3> 美菱电器购实惠</h3>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.udamall.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.udamall.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/kjls_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>优递爱</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.udamall.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.udamall.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/kjls_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>跨境网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.wgyp.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.wgyp.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/kjls_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>万国优品</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.wgwg.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.wgwg.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/kjls_04.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>万国万购</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.htluxe.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.htluxe.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/kjls_05.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>航投臻品</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://shop.epanasia.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://shop.epanasia.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/kjls_06.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>国际泛</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.sd020.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.sd020.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/kjls_07.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>圣地全球购</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.wgwmc.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.wgwmc.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/kjls_08.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>青岛万贸城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.9011.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.9011.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/kjls_09.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>象米国际</h3>
          </div>
          </a> </li>
<!--        <li style="display: list-item;"> <a target="_blank" href="http://www.zhongdamen.com/ ">
          <div class="lf-case-img"> <img src="http://www.shopnc.net/__STATIC__/images/case/kjls_10.jpg" alt=""> </div>
          <div class="lf-case-info">
            <h3>中大门</h3>
          </div>
          </a> </li>-->
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.cnrmall.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.cnrmall.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/dscm_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>央广购物 </h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.ehmall.com.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.ehmall.com.cn/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/dscm_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>深圳宜和购物</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.51ximai.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.51ximai.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/dscm_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>河南广电喜买商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('https://shopping.macaugoodhands.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='https://shopping.macaugoodhands.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/dscm_04.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>澳门电讯商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.wolaigo.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.wolaigo.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/dscm_05.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>新疆大晨报我来购</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"> <a target="_blank" href="javascript:if(confirm('http://www.cbsup.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.cbsup.cn/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/dscm_06.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>广电优品</h3>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.7qiaohui.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.7qiaohui.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/sq_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>七巧汇</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.baimda.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.baimda.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/sq_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>多块好省商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.daojle.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.daojle.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/sq_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>到家乐商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.amez999.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.amez999.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/sq_04.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>爱美一族</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.hctshop.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.hctshop.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/sq_05.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>哈尔滨铁路局火车头商城 </h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.taoqd.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.taoqd.cn/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/sq_06.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>淘青岛商城</h3>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.yimu100.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.yimu100.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/nyds_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>易牧网 </h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.lecuntao.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.lecuntao.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/nyds_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>乐村淘</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.cuixianyuan.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.cuixianyuan.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/nyds_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>翠鲜缘水果商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.xinjiangbazha.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.xinjiangbazha.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/nyds_04.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>巴扎网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.jinxiudadi.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.jinxiudadi.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/nyds_05.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>锦绣大地农贸市场</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://b2c.86077.com:89/shop/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://b2c.86077.com:89/shop/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/nyds_06.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>农村商贸综合服务平台</h3>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.bl-mro.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.bl-mro.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/gyzz_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>百利工业品</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://luxifei.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://luxifei.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/gyzz_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>鲁西化工</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.yzw.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.yzw.cn/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/gyzz_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>云筑网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.shopnc.net/Yph.instrument.com.cn  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ???????????δ?????  \n\n????????????'))window.location='http://www.shopnc.net/Yph.instrument.com.cn'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/gyzz_04.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>仪品汇</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.antbuyhot.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.antbuyhot.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/gyzz_05.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3> 安特百货</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.iabrasive.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.iabrasive.cn/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/gyzz_06.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>爱锐网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.ycnet.top/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.ycnet.top/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/gyzz_07.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>沂川工业</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.easysobuy.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.easysobuy.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/gyzz_08.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>东方易塑</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.zg03.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.zg03.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/gyzz_09.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>3号线煤炭网</h3>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://car.mycjj.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://car.mycjj.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/car_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>车家佳</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.pd-qiche.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.pd-qiche.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/car_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>庞大汽车 </h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.1717pei.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.1717pei.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/car_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>易汽配商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.chebaba.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.chebaba.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/car_04.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>东风日产车巴巴</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href=" javascript:if(confirm('http://www.jybd.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.jybd.cn/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/car_05.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>甲乙丙丁商城</h3>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.motherbuy.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.motherbuy.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/baby_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>贝因美妈妈购</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.yuanquan360.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.yuanquan360.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/baby_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>园圈网 </h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.61tc.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.61tc.cn/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/baby_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>61儿童商城</h3>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.xzcare.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.xzcare.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/yy_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>修正药业</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href=" javascript:if(confirm('http://www.htyyao.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.htyyao.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/yy_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>华佗医药网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.shiyaowang.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.shiyaowang.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/yy_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>食安北京</h3>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
<!--        <li style="display: list-item;"><a target="_blank" href="http://www.jcjjw.com">
          <div class="lf-case-img"> <img src="http://www.shopnc.net/__STATIC__/images/case/jc_01.jpg" alt=""> </div>
          <div class="lf-case-info">
            <h3>建材竞价网</h3>
          </div>
          </a> </li>-->
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.anlewo.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.anlewo.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/jc_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>安乐窝</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.91kzw.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.91kzw.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/jc_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>狂装网</h3>
          </div>
          </a> </li>
   <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.51lbjc.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.51lbjc.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/jc_04.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>良彬建材</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.duc.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.duc.cn/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/jc_05.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>数联网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://elismay.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://elismay.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/jc_06.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>乐聚会</h3>
          </div>
          </a> </li>
      </ul>
    </div>
    <div class="lf-more-case child-tab-show hide">
      <ul class="lf-more-case-con">
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.okwuyou.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.okwuyou.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_01.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>OK无忧商城 </h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://tt.joyowo.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://tt.joyowo.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_02.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>金柚网福利商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.wpccw.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.wpccw.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_03.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>灯饰界</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.etuan.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.etuan.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_04.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>一团网 </h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://store.gbc360.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://store.gbc360.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_05.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>畅游江苏</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.qinqin.net/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.qinqin.net/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_06.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>亲亲网</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.yeslaiba.com/shop/index.php  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.yeslaiba.com/shop/index.php'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_07.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>易来邦商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.fenhongshop.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.fenhongshop.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_08.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>分红全球购 </h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.nandmall.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.nandmall.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_09.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>南电商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.shuihuotu.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.shuihuotu.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_10.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>水火土陶瓷商城</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.sdxhyg.com/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.sdxhyg.com/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_11.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>山东新华书店</h3>
          </div>
          </a> </li>
        <li style="display: list-item;"><a target="_blank" href="javascript:if(confirm('http://www.jpsb.cn/  \n\n??ļ????? Teleport Ultra ??, ?Ϊ ??һ???????????????Ϊ?????????ĵ????  \n\n????????????'))window.location='http://www.jpsb.cn/'" >
          <div class="lf-case-img"> <img src="__STATIC__/images/case/qt_12.jpg"  alt=""> </div>
          <div class="lf-case-info">
            <h3>金牌商标代理</h3>
          </div>
          </a> </li>
      </ul>
    </div>

  </div>
</div>
</block>
<block name="js">

</block>
