<block name="content">
<link href="__STATIC__/css/style.css"  rel="stylesheet">
<div class="about-top-banner top-banner" style="background:url(__STATIC__/images/cooperation/cooperation_01.jpg) center no-repeat; height:670px;">
  <!--<div class="middle"> <a  class="go" href="cooperation-apply.html"  target="_blank" title="立即报名"></a> </div>-->
</div>
<div class="middle cooperation-1" style="margin-top:40px;">
  <h1 class="coo-title">为什么选择宣汉7yun电商系统 ?</h1>
  <h2>最专业、最权威的技术团队用心做事，为企业客户提供最领先的电商平台配套系统服务。</h2>
</div>
<div class="coo-box">
  <ul>
    <li>
      <div class="pic"><img src="__STATIC__/images/cooperation/coo1.jpg"  alt="宣汉7yun渠道合作伙伴-满意的渠道收益"/></div>
      <dl>
        <dt>满意的渠道收益</dt>
        <dd></dd>
      </dl>
    </li>
        <li>
      <div class="pic"><img src="__STATIC__/images/cooperation/coo2.jpg"  alt="宣汉7yun渠道合作伙伴-庞大的高端客户群"/></div>
      <dl>
        <dt>庞大的高端客户群</dt>
        <dd></dd>
      </dl>
    </li>
            <li>
      <div class="pic"><img src="__STATIC__/images/cooperation/coo3.jpg"  alt="宣汉7yun渠道合作伙伴-全行业的解决方案"/></div>
      <dl>
        <dt>全行业的解决方案</dt>
        <dd></dd>
      </dl>
    </li>
                <li>
      <div class="pic"><img src="__STATIC__/images/cooperation/coo4.jpg"  alt="宣汉7yun渠道合作伙伴-先进稳定的产品"/></div>
      <dl>
        <dt>先进稳定的产品</dt>
        <dd></dd>
      </dl>
    </li>
    
    
                <li>
      <div class="pic"><img src="__STATIC__/images/cooperation/coo5.jpg"  alt="宣汉7yun渠道合作伙伴-超好的用户口碑"/></div>
      <dl>
        <dt>超好的用户口碑</dt>
        <dd></dd>
      </dl>
    </li>
    
    
                <li>
      <div class="pic"><img src="__STATIC__/images/cooperation/coo6.jpg"  alt="宣汉7yun渠道合作伙伴-多维度的渠道支持"/></div>
      <dl>
        <dt>多维度的渠道支持</dt>
        <dd></dd>
      </dl>
    </li>
    
                    <li>
      <div class="pic"><img src="__STATIC__/images/cooperation/coo7.jpg"  alt="宣汉7yun渠道合作伙伴-庞大的典型用户群"/></div>
      <dl>
        <dt>庞大的典型用户群</dt>
        <dd></dd>
      </dl>
    </li>
    
    
    
                    <li>
      <div class="pic"><img src="__STATIC__/images/cooperation/coo8.jpg"  alt="宣汉7yun渠道合作伙伴-全面的产品线"/></div>
      <dl>
        <dt>全面的产品线</dt>
        <dd></dd>
      </dl>
    </li>
    
    
    
  </ul>
</div>
<div class="cooperation-bottom">
 <div class="coof-title">
   <h1>加盟  7yun  五步流程</h1>
  </div>
 <a href="aboutus.html"  target="_blank" title="立即加盟体验"></a>
  
  
  
  
   </div>
</div>
</block>
<block name="js">

</block>
