<link rel="stylesheet" href="__STATIC__/css/web.assets_frontend.2.css">
<style>
    .container {
        max-width: 100%;
    }
    .display-2 {
        font-size: 5.5rem;
    }
    .mt0 {
        margin-top: 0px !important;
    }
    .mb16 {
        margin-bottom: 16px !important;
    }
    .fw_light {
        font-weight: 300;
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }
    .s_browser {
        position: relative;
    }
    .img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .display-4 {
        font-size: 3.5rem;
    }
    .mt0 {
        margin-top: 0px !important;
    }
    .mb8 {
        margin-bottom: 8px !important;
    }
    .mb32 {
        margin-bottom: 32px !important;
    }
    .media, .media-body {
        zoom: 1;
        overflow: hidden;
    }
    .media-middle {
        vertical-align: middle;
    }
    .media-left, .media-right, .media-body {
        display: table-cell;
        vertical-align: top;
    }
    .o_pic.o_pic_magnify {
        background-position: 36.85% 0!important;
    }
    .o_pic_4x {
        width: 4em;
        height: 4em;
    }
    .media-body {
        width: 10000px;
    }
    .text-default {
        color: #666c75;
    }
    .media-middle {
        vertical-align: middle;
    }
    .media-left, .media-right, .media-body {
        display: table-cell;
        vertical-align: top;
    }
    .media-body {
        width: 10000px;
    }
    #wrapwrap.o_crm .o_crm_animation_wrapper {
        position: relative;
    }
    .o_overflow_hidden {
        overflow: hidden;
    }
    .bg-white {
        background-color: #fff;
        color: #666c75;
    }
    .s_responsive_to_image_block.js_top_banner {
        padding-top: 0!important;
        background-size: auto 100%;
    }
    .s_responsive_to_image_block {
        overflow: hidden;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .js_top_banner {
        overflow: hidden;
    }
    .bg-white {
        background-color: #fff;
        color: #666c75;
    }
    .s_responsive_to_image_block .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    .mt8 {
        margin-top: 8px !important;
    }
    .mb96 {
        margin-bottom: 96px !important;
    }
    .container {
        width: 1170px;
    }
    .s_responsive_to_image_block .wrapper > .container > .row {
        height: 100%;
    }
    .s_responsive_to_image_block .wrapper [class*="o_v_align_col"] {
        display: block;
    }
    .s_responsive_to_image_block .wrapper [class*="o_v_align_col"] > * {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    @media screen and (min-width: 768px)
        .o_v_align_col_sm > * {
            -ms-flex: 0 0 auto;
            -moz-flex: 0 0 auto;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
            max-width: 100%;
        }
        .o_pic {
            display: inline-block;
            background-image: url(https://odoocdn.com/openerp_website/static/src/img/2016/pictograms/o_pic.gif);
            background-image: url(https://odoocdn.com/openerp_website/static/src/img/2016/pictograms/o_pic.svg);
            background-position: 0 0;
            background-repeat: no-repeat;
            background-size: cover;
            width: 1em;
            height: 1em;
        }
        .o_pic_4x {
            width: 4em;
            height:4em;
        }
        .o_pic.o_pic_magnify {
            background-position: 36.85% 0!important;
        }
        .o_pic.o_pic_setting {
            background-position: 42.1% 0!important;
        }

        .o_pic.o_pic_chart {
            background-position: 15.8% 0!important;
        }
        .media-object {
            display: block;
        }
        .o_bg_arch5 {
            background-image: url(https://odoocdn.com/openerp_website/static/src/img/2016/components/arch_5.jpg);
        }
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
</style>
    <div id="wrap" class="oe_structure">
        <section class="s_responsive_to_image_block js_top_banner bg-white" style="padding-bottom: 45%; background-image: url(https://www.odoo.com/openerp_website/static/src/img/2016/crm/crm_top_banner.jpg); background-size: auto 100%; opacity: 1;">
            <div class="wrapper">
                <div class="container">
                    <div class="row o_v_align_col_sm">
                        <div class="col-xs-12 col-sm-8 col-md-6 mt8 mb96">
                            <h1 class="mt0 display-2 mb16"><strong>真实</strong>客户<br>为中心的<strong>CRM</strong></h1>
                            <h4 class="mb0 fw_light">追踪销售线索、接近成功的机会<br>并获得准确预测。</h4>
                            <a href="http://yanshi.youbaninfo.com/web/login" class="mt32 mb8 btn btn-primary o_btn_cta" style="position: relative; overflow: hidden;">免费开始</a>
                            <br>

                            <div class="o_schedule_demo text-center ">










                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="o_offset_top_medium">
            <div class="container">
                <div class="row" style="margin-top:-50px;>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="s_browser shadow">
                            <img class="bar" src="//odoocdn.com/openerp_website/static/src/img/2016/components/browser.png" alt="">
                            <div class="content">
                                <img class="img-responsive" src="//odoocdn.com/openerp_website/static/src/img/2016/crm/crm_screenshot_01.gif" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="o_bg_arch5">
            <div class="container">
                <div class="row o_v_align_col_md">
                    <div class="col-md-6 mt92 mb92">
                        <h2 class="mt0 display-4 mb8">获得<strong>精准的</strong> 预测</h2>
                        <h5 class="mb32">Use actionable data to make better decisions.</h5>
                        <div class="s_pic_media_list">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <span class="media-object o_pic o_pic_4x o_pic_magnify"></span>
                                </div>
                                <div class="media-body">
                                    <h5 class="text-default">获得您需要的观点，做出更明智的<br>决策。</h5>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left media-middle">
                                    <span class="media-object o_pic o_pic_4x o_pic_setting"></span>
                                </div>
                                <div class="media-body">
                                    <h5 class="text-default">设计自定义统计面板以获得您的业务<br>一览图。</h5>
                                </div>
                            </div>
                            <div class="media">
                                <div class="media-left media-middle">
                                    <span class="media-object o_pic o_pic_4x o_pic_chart"></span>
                                </div>
                                <div class="media-body">
                                    <h5 class="text-default">深入挖掘实时报告和流程<br>图，人人均可创建和分享。</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt92 mb92">
                        <div class="o_crm_animation_wrapper">
                            <img src="https://odoocdn.com/openerp_website/static/src/img/2016/crm/crm_preview.gif" class="shadow img-responsive" alt="">
                            <div class="crm_animation"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-white o_overflow_hidden">
            <div class="container">
                <div class="row mt92">
                    <div class="col-xs-12 col-sm-6">
                        <img class="img shadow img-responsive" src="//odoocdn.com/openerp_website/static/src/img/2016/crm/crm_screenshot_03.gif" alt="">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 ">
                        <h2 class="display-4 mt0"> <b>以更少时间</b>，<b>完成更多工作</b></h2>
                        <h5 class="mt8 mb32">出色的工具 = 幸福的人</h5>
                        <p class="mb32 mt16">Automate activities based on your sales scripts: calls, meetings, mailing, and quotations. Get all information you need, directly on the opportunity: page viewed, mail received, etc.</p>
                        <img src="//odoocdn.com/openerp_website/static/src/img/2016/crm/crm_infographic_01.gif" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="o_bottom_bar_white o_overflow_hidden">
            <div class="container mt92">
                <div class="row o_v_align_col mt92">
                    <div class="col-xs-12 col-sm-6">
                        <h2 class="display-4"><strong>实时</strong> 概览</h2>
                        <h5 class="mt8">Easily review your performances &amp; next activities.</h5>
                        <p class="mt32 mb64">对比您的每月目标，准确了解您的表现。<br>根据您安排的下一行动，组织您的工作。</p>
                        <div class="s_testimonial text-heading font-heading mb48">
                            <div class="container-fluid">
                                <div class="row no-v-align-sm">
                                    <div class="thumb">
                                        <img src="//odoocdn.com/openerp_website/static/src/img/2016/testimonials/claudia_sebastiani.jpg" alt="">
                                    </div>
                                    <blockquote>
                                        <p>“有了 Odoo CRM，我就能将有关销售线索和客户的所有信息保存于一处。非常棒，也非常有效。”</p>
                                        <p>
                                            <small>Claudia Sebastiani，客户经理</small>
                                        </p>
                                        <img src="//odoocdn.com/openerp_website/static/src/img/2016/testimonials/logo_creativi_quadrati.png" alt="">
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <img class="img shadow img-responsive" src="//odoocdn.com/openerp_website/static/src/img/2016/crm/crm_screenshot_04.gif" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="o_bottom_bar_dark bg-white o_overflow_hidden">
            <div class="container mt92">
                <div class="row mt92">
                    <div class="col-sm-6">
                        <img class="img shadow img-responsive" src="//odoocdn.com/openerp_website/static/src/img/2016/crm/crm_screenshot_05.gif" alt="">
                    </div>
                    <div class="col-sm-6 col-md-5 col-md-offset-1">
                        <h2 class="display-4 mt0">与您的<b>客户</b>保持<b>联系</b></h2>
                        <h5 class="mt8">Real-time messaging to enhance collaboration.</h5>
                        <p class="mt16 mb32">快速概览团队正在开展的事宜。查看同事何时记录通话或发送报价。实时共享创意和文档，并补做您不在时错过的事宜。</p>
                    </div>
                </div>
            </div>
        </section>



    </div>

