<block name="content">
<link href="__STATIC__/css/style.css"  rel="stylesheet">
<style>
.main-im .im_main .im-tel .solution { display: none !important;}
/*.main-im .im_main .im-tel .b2b { display: none !important;}*/
#top{background:url("__STATIC__/images/top_bg2.png") center;}
.banner-layout{ margin-top:0px;}
</style>
<div class="banner-layout banner-tv">
  <div class="banner">
    <h2>电视购物</h2>
    <h3>电商解决方案</h3>
    <p>电视购物电商解决方案是指以电视购物为基础，利用互联网，实现电视屏、户外广告屏、pc屏、手机屏、邮路屏、IPTV、触屏设备等多屏互动的整合性电商平台，实现商品同步、会员同步、个帐同步的一体化的解决方案。</p>
  </div>
</div>
<div class="main-layout" id="dsgw_tv">
  <section class="block01">
    <div class="wrap">
      <div class="title">
        <h2>电视购物电商解决方案——系统模块架构</h2>
        <p>互联网、移动互联网、广电网三网的融合，电视、PC端、移动APP、微信商城、IPTV、触屏设备等多屏合一，通过ERP、CRM、呼叫中心等软件实现商品、库存、会员、订单、售后、财务数据、客服呼叫等数据的互联互通。</p>
      </div>
      <div class="content"> <img src="__STATIC__/images/solution/dsgw1.gif"  alt="电视购物电商解决方案——应用模块架构"> </div>
    </div>
  </section>
  <section class="block02 even">
    <div class="wrap">
      <div class="title">
        <h2>电视购物电商解决方案——应用模块架构</h2>
        <p>使用一套后台系统同时支撑互动电视、互联网、手机、IVR等展示界面</p>
      </div>
      <div class="content">
      <img src="__STATIC__/images/solution/dsgw2.gif"  alt="电视购物电商解决方案——应用模块架构"/> 
      </div>
    </div>
  </section>
  <section class="block03" style="border-bottom:0px">

    <div class="pic"><img src="__STATIC__/images/solution/dsgw3.jpg"  alt="电视购物电商解决方案——多屏互通、多屏同步"/> </div>
  </section>

</block>
<block name="js">

</block>