<block name="content">
<link href="__STATIC__/css/style.css"  rel="stylesheet">
<style>
.main-im .im_main .im-tel .solution { display: none !important;}
/*.main-im .im_main .im-tel .b2b { display: none !important;}*/
#top{background:url("__STATIC__/images/top_bg2.png"/*tpa=http://www.shopnc.net/__STATIC__/images/top_bg2.png*/) center;}
.banner-layout{ margin-top:0px; height:360px;}
</style>
<div class="banner-layout banner-yiyao">
  <div class="banner">
    <h2 style="color: #394c51;">医药</h2>
    <h3>电商解决方案</h3>
    <p>医药电商(Medicine E-commerce)：指医疗机构、医药生产商、代理商、经销商、分销商、医药公司、医药信息提供商、第三方机构等以盈利为目的，以互联网及移动互联网为基础所进行药品保健品、器械等商品交易但不包括医疗咨询等服务的各种商务活动；包括B2B电子商务和B2C电子商务，不包括C2C，即以医疗和医药相关商品为核心的线上批发和零售。</p>
  </div>
</div>
<div class="main-layout" id="yyds_yiyao">
  <section class="block01">
    <div class="wrap">
    <div class="title">
        <h2>医药电商解决方案</h2>
        <p>医药电商参与者数量逐步增长，且融资主要集中在早期，随着政策的逐步放开，医药电商进入发展快车道，主流医药企业持续完善生态链布局。</p>
      </div>
    
      <div class="content"><img src="__STATIC__/images/solution/yiyao1.gif"  alt="医药电商解决方案" /></div>
      
      
    </div>
  </section>
  <section class="block02" style="background: #232020;">
    <div class="wrap">
      <div class="title">
        <h2>中国医药电商发展历程</h2>
      </div>
      <div class="content">
<img src="__STATIC__/images/solution/yiyao2.gif"  alt="中国医药电商发展历程" />
      </div>
    </div>
  </section>
  <section class="block03">
    <div class="wrap">
      <div class="title">
        <h2>医药电商经营资质</h2>
        <p>根据国家食品药品监督管理总局规定，中国医药电商牌照分为三种：第三方交易服务平台（A证）、与其他企业进行药品交易（B证）、向个人消费者提供药品（C证）。在牌照审核中，除资质、基础场所、设施、设备等必要条件外，对不同企业类型另有要求，例如，服务企业需具有计算机专业技术人员、B2B需设立管理机构、自营式B2C需依法设立药品连锁零售企业、平台式B2C需取得互联网增值电信业务经营许可证等条件。</p>
      </div>
      <div class="content">
<img src="__STATIC__/images/solution/yiyao3.gif"  alt="医药电商经营资质" />
      </div>
    </div>
  </section>
    <section class="block04 even">
     <div class="wrap">
	      <div class="title">
	      	<h2>医药电商运营模式</h2>
	      </div>
	      <div class="content"><img src="__STATIC__/images/solution/yiyao4.gif"  alt="医药电商运营模式" /></div>
     </div>
    </section>
    
      <section class="block05">
    <div class="wrap">
    	<div class="title">
	      	<h2>医药电商类型划分</h2>
	      	<p>医药电商按照功能主要分为医疗与医药两个模块，医疗模块主要为在线问诊、在线挂号、线上诊疗、在线支付、慢性病管理等。医药主要有B2B和B2B2C两种运营模式，其中B2B主要分为政府主导的B2B采购平台和药企B2B，如药企与医院、门店相互进行的处方类药物交易平台。和以自营+入驻的B2B2C模式，可面向个人消费者进行销售。</p>
	      </div>
     <div class="content">
  <img src="__STATIC__/images/solution/yiyao5.gif"  alt="医药电商类型划分" />
      </div>
    </div>
    </section>

</div>

</block>
<block name="js">

</block>