<block name="content">
<link href="__STATIC__/css/style.css"  rel="stylesheet">
<style>
.main-im .im_main .im-tel .solution { display: none !important;}
/*.main-im .im_main .im-tel .b2b { display: none !important;}*/
#top{background:url("__STATIC__/images/top_bg2.png") center;}
.banner-layout{ margin-top:0px; height:458px;}
</style>
<div class="banner-layout banner-maternal">
  <div class="banner">
    <h2>母婴</h2>
    <h3>电商解决方案</h3>
    <p>母婴电商平台是为备孕、怀孕以及0-6岁左右的婴童父母提供包括育儿知识资讯及咨询、育儿经验分享及交流、婴幼儿教育产品及服务、母婴产品售卖等母婴类生活服务的在线平台。电商平台，可分为综合电商的母婴频道、品牌自建平台和垂直母婴电商平台。母婴社区、孕婴工具类平台，以媒体和社区业务形态为基础，提供孕婴童知识资讯问答、互动交流平台、记录工具等，并在此基础上发展电商业务、早教业务等，以宣传推广和电商收入为收入来源。</p>
  </div>
</div>
<div class="main-layout" id="maternal">
  <section class="block01">
    <div class="wrap">
      <div class="title">
        <h2>中国母婴行业发展历程</h2>
        <span class="f-title">从母婴店为主，到专卖店、卖场、便利店、网购多模式并存</span>
      </div>
      <div class="content"><img src="__STATIC__/images/solution/maternal01.jpg"  alt="母婴行业发展历程" /></div>
    </div>
  </section>
  
    <section class="block05 even02">
    <div class="wrap">
     
      <div class="content"><img src="__STATIC__/images/solution/maternal04.jpg"  alt="母婴行业发展历程" /></div>
    </div>
  </section>
  
  
  <section class="block02">
    <div class="wrap">
      <div class="title">
        <h2>2011-2018年中国母婴用品线上交易规模</h2>
        <p>2011-2014年母婴网购市场交易规模稳定增长，增长率高于线下母婴渠道，增长率、渗透率不断提高。 2012、2013年增长率均低于整体网购市场增长率，相比其他服装、化妆品、3C等品类，母婴品类渗透率仍然很低。2014年起母婴线上交易规模增长率超过整体网购增长率，从2014下半年到2015年上半年母婴网购交易规模飞跃式增长，2015年年底线上渗透率已达到15.5%。随着新生儿小高峰的到来，以及跨境网购市场的发展，母婴网购市场发展空间巨大。
</p>
      </div>
      <div class="content">
      <img src="__STATIC__/images/solution/maternal02.gif"  alt="母婴用品线上交易规模" /> 
      </div>
    </div>
  </section>
  <section class="block03">
    <div class="wrap">
     <div class="title">
        <h2 style="border-bottom:none;">母婴电商平台体系</h2>
      
      </div>
      <div class="content">
    <img src="__STATIC__/images/solution/maternal03.jpg"  alt="母婴电商平台体系"/> 
       
      </div>
    </div>
  </section>
   <section class="block04" style="border-bottom: 0px;">
     <div class="pic">
      <h2>母婴电商-全网销售平台</h2>
        <p>专注服务母婴产品零售企业和连锁店铺，以及母婴电商创业者；
                              通过全网平台搭建，多触点连接用户；
                              完成O2O闭环，结合线下优势，解决留客和转客；
                              打通母婴市场线下和线上的全渠道，
                              助力企业在母婴电商的竞争中抢得先机。</p>
     </div>
    </section>
    
</block>
<block name="js">

</block>