<block name="content">
<link href="__STATIC__/css/style.css"  rel="stylesheet">
<style>
.main-im .im_main .im-tel .solution { display: none !important;}
/*.main-im .im_main .im-tel .b2b { display: none !important;}*/
#top{background:url("__STATIC__/images/top_bg2.png") center;}
.banner-layout{ margin-top:0px;}
</style>
<div class="banner-layout banner-crossborder">
  <div class="banner">
    <h2>跨境电商</h2>
    <h3>解决方案</h3>
    <p>在当前复杂严峻的外贸形势下，传统的外贸模式存在过度依赖传统销售、买家需求封闭、订单周期长、利润空间低等问题，这些问题更是制约着中小企业进出口贸易的发展。 而跨境电商作为基于互联网的运营模式，正在重塑中小企业国际贸易链条。跨境电商打破了传统外贸模式下国外渠道如：进口商、批发商、分销商甚至零售商的垄断，使得企业可以直接面对个体批发商、零售商，甚至是直接的消费者，有效减少了贸易中间环节和商品流转成本，节省的中间环节成本为企业获利能力提升及消费者获得实惠提供了可能。</p>
  </div>
</div>
<div class="main-layout" id="crossborder">
  <section class="block01">
    <div class="wrap">
      <div class="title">
        <h2>跨境电商解决方案——跨境电商与传统外贸的区别</h2>
      </div>
      <div class="content"><img src="__STATIC__/images/solution/cross_block01_con.gif"  alt="跨境电商与传统外贸的区别"/></div>
    </div>
  </section>
  <section class="block02 even">
    <div class="wrap">
      <div class="title">
        <h2>跨境电商解决方案——进口业务模式</h2>
      </div>
      <div class="content">
        <!--<p>2013年我国跨境电商交易规模为3.1万亿元，增长率为31.3%，占进出口贸易总额的11.9%，随着国家跨境电商利好政策的先后出台、行业参与者的积极推动及行业产业链的逐渐完善，预计未来几年跨境电商将继续保持平稳快速发展，预计在2017年跨境电商在进出口贸易总额中的渗透率将达到20%左右。</p>-->
        <!--<div class="pic"></div>-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table">
          <tbody>
            <tr>
              <th width="20%">跨境电商进口业务模式</th>
              <th width="26%">直邮模式</th>
              <th width="26%">集货模式</th>
              <th width="26%">备货模式</th>
            </tr>
            <tr>
              <td>运作方式</td>
              <td>消费者购买境外商品，境外商品通过国际运输的方式发送商品，直接送达境内消费者。</td>
              <td>消费者境内下单，订单达一定数量后，商家在海外采购，通过国际物流直达保税区，报关后经国内物流送达消费者。</td>
              <td>境外商品入境后暂存保税区内，消费者购买后以个人物品出区，包裹通过国内物流的方式送达境内消费者。</td>
            </tr>
             <tr>
              <td>海关监管特色</td>
              <td>电子订单、支付宝凭证、电子运单、阳光化通关。</td>
              <td>货物通关国际物流抵达保税仓，实现快速通关。</td>
              <td>货物存放在海关监管场所，实现快速通关。</td>
            </tr>
              <tr>
              <td>发货地点</td>
              <td>境外</td>
              <td>境外转境内</td>
              <td>境内保税仓</td>
            </tr>
            <tr>
              <td>优缺点</td>
              <td>优点：产品丰富多样，中国消费者可以直接购买稀缺、优质、新奇的全球商品，并可与海外商家直接沟通。<br/>
                缺点：品质无保障、成本较高。</td>
              <td>优点：产品丰富多样，可直接购买稀缺、优质、新奇的全球商品。<br/>
                缺点：收货时间稍长、成本较高。</td>
              <td>优点：缩短物流时间，海关监管保证质量，方便退换货等售后服务，优化购物体验。<br/>
                缺点：商品可供选择范围有限。</td>
            </tr>
          
          </tbody>
        </table>
      </div>
    </div>
  </section>
  <section class="block03">
    <div class="wrap">
      <div class="title">
        <h2>跨境电商解决方案——基础流程</h2>
        <h5>我国跨境电子商务主要分为企业对企业（即B2B）和企业对消费者（即B2C）的贸易模式。B2B模式下，企业运用电子商务以广告和信息发布为主，成交和通关流程基本在线下完成，本质上仍属传统贸易，已纳入海关一般贸易统计。B2C模式下，我国企业直接面对国外消费者，以销售个人消费品为主，物流方面主要采用航空小包、邮寄、快递等方式，其报关主体是邮政或快递公司，目前大多未纳入海关登记。</h5>
      </div>
      <div class="content">
        <div class="pic"><img src="__STATIC__/images/solution/cross_block03_pic.gif"  alt="跨境电商解决方案——基础流程"/></div>
        <dl>
          <dt>盈利方式</dt>
          <dd><strong>佣金收入：</strong>&nbsp;跨境电商平台提供一个交易市场，买家和卖家可以在这个平台上交易，交易成功之后，向卖家收取一定比例的交易佣金。</dd>
          <dd><strong>服务费收入：</strong>&nbsp;由于跨境电商面向全球200多个国家及十几万个城市，复杂程度远远高于内贸电商，同时跨境电商整个交易流程较长，买卖双方对交易中涉及的服务有较高要求。跨境平台的交易复杂性及商务性，决定了整个跨境交易过程需要很多服务环节。基于这个特点，平台也可以向企业提供集约化物流、金融服务、代运营服务等服务，并收取一定的服务费。</dd>
        </dl>
        <dl>
          <dt>增值服务</dt>
          <dd>除了提供基于平台的基本服务外，跨境电商也可以提供一体化服务，主要包括：
            <p>支付：PayPal对接全球三十多种支付方式。</p>
            <p>物流：在线发货，可支持EMS、UPS、DHL等多种物流方式,也可提供仓库及集运服务。</p>
            <p>信贷：与金融机构合作，可提供信贷服务。</p>
            <p>其他增值服务：培训、营销推广和代运营等服务。</p>
          </dd>
        </dl>
      </div>
    </div>
  </section>
    <section class="block04">
     <div class="pic">
      <div class="title">跨境电商解决方案——模式导图</div>
     </div>
    </section>
    
      <section class="block05">
    <div class="wrap">
     <div class="content">
    <img src="__STATIC__/images/solution/kj_2.jpg"  alt="跨境电商解决方案-全流程跨境在线交易"/>
       <img src="__STATIC__/images/solution/kj_3.jpg"  alt="跨境电商解决方案-多平台多语言跨境交易平台"/>
          <img src="__STATIC__/images/solution/kj_4.jpg"  alt="跨境电商解决方案-降低成本，打造一站式便捷跨境物流" />
             <img src="__STATIC__/images/solution/kj_5.jpg"  alt="跨境电商解决方案-系统对接" />
                <img src="__STATIC__/images/solution/kj_6.jpg"  alt="跨境电商解决方案-多端一体化" />
      </div>
    </div>
    </section>
  </block>
<block name="js">

</block>