<block name="content">
<link href="__STATIC__/css/style.css"  rel="stylesheet">
<style>
.main-im .im_main .im-tel .solution { display: none !important;}
/*.main-im .im_main .im-tel .b2b { display: none !important;}*/
#top{background:url("__STATIC__/images/top_bg2.png") center;}
.banner-layout{ margin-top:0px; height:360px;}
</style>
<div class="banner-layout banner-o2o">
  <div class="banner">
    <h2>社区O2O</h2>
    <h3>电商解决方案</h3>
    <p>移动互联网、物联网等新一代信息通信技术的出现和普及应用让O2O电商这一新兴的商业模式迅速落地并在近几年快速发展。社区O2O电商，对移动互联网、物联网、大数据处理以及云服务等核心技术也在助推众多传统企业（本地社区服务企业、物业公司）和互联网企业加速融合线上渠道和线下服务。</p>
  </div>
</div>
<div class="main-layout" id="sq_o2o">
  <section class="block01 even">
    <div class="wrap">
      <div class="title">
        <h2>2011-2018年中国O2O电商市场规模及渗透率</h2>
      </div>
      <div class="content"><img src="__STATIC__/images/solution/o2o1.gif"  alt="O2O电商市场规模及渗透率"/> </div>
    </div>
  </section>
  <section class="block02">
    <div class="wrap">
      <div class="title">
        <h2>O2O电商平台-多屏互动 功能齐全</h2>
      </div>
      <div class="content">
<img src="__STATIC__/images/solution/o2o2.gif"  alt="O2O电商平台-多屏互动 功能齐全"/>
      </div>
    </div>
  </section>
  <section class="block03" style="background: #2264be;">
    <div class="wrap">
      <div class="title">
        <h2 style="color: #fff;">轻松打造一体化的社区O2O电商平台</h2>
        <p>基于LBS定位，涵盖商城、上门服务、外卖订餐、团购、积分商城、优惠券、红包等功能助您打造一站式本地化O2O综合生活服务平台的应用软件系统</p>
      </div>
<div class="content"><img src="__STATIC__/images/solution/o2o3.png"  alt="轻松打造一体化的社区O2O电商平台"/></div>
      </div>
   
   <div class="pic"></div>
  </section>
    <section class="block04">
     <div class="wrap01">
     		<div class="content"><img src="__STATIC__/images/solution/o2o5.jpg"  alt="O2O电商平台解决方案"/></div>
     </div>
    </section>
    
      <section class="block05 even">
		    <div class="wrap">
			    	<div class="title">
			        <h2>O2O电商平台核心功能</h2>
			        <p>线上线下完美结合，聚集消费群体，直观的营销效果及追踪评估，带来更多的商家</p>
			      </div>
			     <!--<div class="content">
			    <img src="http://www.shopnc.net/__STATIC__/images/solution/kj_2.jpg" />
			       <img src="http://www.shopnc.net/__STATIC__/images/solution/kj_3.jpg" />
			          <img src="http://www.shopnc.net/__STATIC__/images/solution/kj_4.jpg" />
			             <img src="http://www.shopnc.net/__STATIC__/images/solution/kj_5.jpg" />
			                <img src="http://www.shopnc.net/__STATIC__/images/solution/kj_6.jpg" />
			      </div>-->
			      	<div class="s5_1">
			
			<div class="s5box s5box2" style="border-left: none">
				<div class="s5boximg "><!--<img src="http://o2o.fanwe.com/app/Tpl/fanwe/__STATIC__/images/ts2.png">-->
					
					<img src="__STATIC__/images/solution/yq/ts2.png"  alt="O2O电商平台-售卖区域">
				</div>
				<h1>售卖区域</h1>
				<h2>平台灵活掌握多级地区管理，店铺设置售卖区域及区域内运费模板，与商品关联。</h2>
			</div>
			<div class="s5box s5box3">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts3.png"  alt="O2O电商平台-消保服务"></div>
				<h1>消保服务</h1>
				<h2>商城设定消保服务规则及保证金额，店铺参加获得消费者包装标识，并应严格履行服务内容。</h2>
			</div>
			<div class="s5box s5box4">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts4.png"  alt="O2O电商平台-微信登录、支付"></div>
				<h1>微信登录、支付</h1>
				<h2>平台可开启使用微信账号绑定登录，更可申请开通微信支付功能，手机微信扫码轻松完成支付。</h2>
			</div>
			<div class="s5box s5box5">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts5.png"  alt="O2O电商平台-平台红包"></div>
				<h1>平台红包</h1>
				<h2>平台红包、店铺代金券可多种方式供会员领取，并可设定与消费金额、会员等级、积分等相关信息关联。</h2>
			</div>
<div class="s5box s5box10">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts15.png"  alt="O2O电商平台-移动端应用"></div>
				<h1>移动端应用</h1>
				<h2>量身定制iOS/Android/WAP版手机应用以及微信管理，微信支付等功能让商城在移动终端市场占据相应份额。</h2>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="s5_2">
			
			<div class="s5box s5box6" style="border-left: none">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts6.png"  alt="O2O电商平台-商品SKU"></div>
				<h1>商品SKU</h1>
				<h2>灵活多变的商品规格属性设定，商城管理建立类型与商品分类绑定，商家可自行定义商品SKU。</h2>
			</div>
			<div class="s5box s5box7">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts12.png" alt="O2O电商平台-平台结算"></div>
				<h1>平台结算</h1>
				<h2>平台统一收取货款，按商品分类分佣比列与商户之间进行一定时间段内的货款结算，能更好的监管交易质量。</h2>
			</div>
			<div class="s5box s5box8">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts8.png"  alt="O2O电商平台-在线客服"></div>
				<h1>在线客服</h1>
				<h2>在线聊天IM系统让买卖双方沟通变得简单，聊天记录可查询，商家可建立多个售前售后客服。</h2>
			</div>
			<div class="s5box s5box9">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts9.png"  alt="O2O电商平台-虚拟商品"></div>
				<h1>虚拟商品</h1>
				<h2>虚拟商品使商城实现本地化销售（O2O模式）简单易行，线上购买获取兑换码，线下消费完成订单。</h2>
			</div>
			<div class="s5box s5box10">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts10.png"  alt="O2O电商平台-频道专题"></div>
				<h1>频道专题</h1>
				<h2>频道页面自定义编辑与商城分类进行绑定，让各类商品大类个性展示鲜明，专题页面则是促销集合的体现。</h2>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="s5_3" style="overflow:hidden">
			<div class="s5box" style="border-left: none">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts13.png"  alt="O2O电商平台-预存款充值卡"></div>
				<h1>预存款充值卡</h1>
				<h2>商城预存款、在线支付，多种形式的账户付款方式既让会员的账户安全可靠又灵活多样。</h2>
			</div>
			<div class="s5box">
				<div class="s5boximg "><img src="__STATIC__/images/solution/yq/ts14.png"  alt="O2O电商平台-晒单分享"></div>
				<h1>晒单分享</h1>
				<h2>买家可对完成的订单进行评价和晒单，也可在微商城、圈子等多频道进行分享，更可分享至站外微博微信。</h2>
			</div>
			<div class="s5box">
				<div class="gx"></div>
			</div>
			<div class="s5box">
				<div class="gx"></div>
			</div>
			<div class="s5box">
				<div class="gx"></div>
			</div>
			<div class="blank30"></div>
		</div>
		    </div>
    </section>
</block>
<block name="js">

</block>