<block name="content">
<link href="__STATIC__/css/style.css"  rel="stylesheet">
<style>
.main-im .im_main .im-tel .solution { display: none !important;}
/*.main-im .im_main .im-tel .b2b { display: none !important;}*/
#top{background:url("__STATIC__/images/top_bg2.png") center;}
.banner-layout{ margin-top:0px;}
</style>
<div class="banner-layout banner-department">
  <div class="banner">
    <h2>综合百货行业</h2>
    <h3>电商解决方案</h3>
    <p>以减少交易成本和增强品牌效应，扩大销售渠道为目标，通过电商系统搭建快捷、便利的购物平台。</p>
    <div class="pic"></div>
  </div>
</div>
<div class="main-layout" id="department">
  <section class="block01">
    <div class="wrap">
      <div class="content"><img src="__STATIC__/images/solution/department_block01_con.gif"  alt="综合百货行业电商解决方案"/></div>
    </div>
  </section>
  <section class="block02">
    <div class="wrap">
      <div class="title">
        <h2>中国消费者综合百货类商城购买商品比例</h2>
      </div>
      <div class="content"><img src="__STATIC__/images/solution/department_block03_pic.png"  alt="中国消费者综合百货类商城购买商品比例"/></div>
    </div>
  </section>
  <section class="block03">
    <div class="wrap">
      <div class="title">
        <h2>综合百货行业电商解决方案——行业性、品牌性的佣金设置</h2>
      </div>
      <div class="content"><img src="__STATIC__/images/solution/department_block04_pic.gif"  alt="综合百货行业电商解决方案-行业性、品牌性的佣金设置"/></div>
    </div>
  </section>
  <section class="block04">
    <div class="wrap">
      <div class="title">
        <h2>综合百货行业电商解决方案——自营店铺与三方入驻</h2>
      </div>
      <div class="content"><img src="__STATIC__/images/solution/department_block05_pic.gif"  alt="综合百货行业电商解决方案-自营店铺与三方入驻"/></div>
    </div>
  </section>
  <section class="block05 even">
    <div class="wrap">
      <div class="title">
        <h2>综合百货行业电商解决方案——各功能模块及相互关系</h2>
        <h5>针对综合百货的行业特征，在搭建满足其需求的电商平台过程中，应具备以下功能及模块组合，形成完整的运营体系。</h5>
      </div>
      <div class="content"><img src="__STATIC__/images/solution/department_block02_con.png"  alt="综合百货行业电商解决方案-自营店铺与三方入驻"/></div>
    </div>
</div>
</block>
<block name="js">

</block>

