<block name="content">
<script type="text/javascript">
    $(function(){
        if ($('#display_ban').val()) {
            $('#banner').hide();
        } else {
            $('#banner').flexslider({animation:"slide",slideshowSpeed:4000});
        }

    });
</script>
<div id="banner" class="flexslider clear">
  <ul class="slides">
  <volist name="banner" id="vo">
  
    <li style="background:url({:get_image_path($vo['picture'])}) bottom no-repeat; position:relative;">
      <a href="{$vo.url}" style="display: block; width: 100%;height:100%;"></a>
    </li>
  
  </volist>  
  </ul>
</div>
<div class="clear"></div>
<link href="__STATIC__/css/index.css"  rel="stylesheet">
<script src="__STATIC__/js/jquery.thumb.min.js" ></script>
<script>
$(function(){	
	$('.pic-article-img img').jqthumb({
		width: 215,
		height: 120,
		after: function(imgObj){
			imgObj.css('opacity', 0).attr('title',$(this).attr('alt')).animate({opacity: 1}, 2000);
		}
	});
	
});
</script>
<div class="index-main">
  <div class="product-container" style="margin-bottom:40px;">
    <h2>做最好的产品</h2>
    <h3>最专业、最权威的技术团队一心做事，为客户提供最适用的电商平台配套系统及服务</h3>

    <div class="product-module">
        <ul>
          <li class="p1"> <a class="box" href="" >
                <div class="pic"></div>
                <span>PHP电商系统</span> </a>
                <dl>
                  <dt></dt>
                  <dd>
                    <p>PHP电商系统是目前国内最领先的电商产品。包括商城、CMS、圈子、微商城、聊天等多套系统满足各类型企业电商化发展需求。</p>
                    <a href="{:U('b2b2c')}" >查看详情<i class="fa fa-caret-right"></i></a></dd>
                </dl>
              </li>

              <li class="p2"> <a class="box" href="" >
                <div class="pic"></div>
                <span>B2B2C多商户</span> </a>
                <dl>
                  <dt></dt>
                  <dd>
                    <p>采用PHP技术进行分层开发，选用目前主流的MVC开发方式，配套微信商城、APP商城移动前端，丰富的互动营销功能，精细化的用户运营，充分挖掘巨大移动电商市场潜力。</p>
                    <a href="{:U('b2b2c')}" >查看详情<i class="fa fa-caret-right"></i></a></dd>
                </dl>
              </li>

              <li class="p3"> <a class="box" href="{:U('mobile-ios')}" >
                <div class="pic"></div>
                <span>移动应用</span> </a>
                <dl>
                  <dt></dt>
                  <dd>
                    <p>iOS/Android/WAP移动应用与商城平台的紧密结合始终是我们开发的重点，移动应用也将是未来O2O电商发展的未来。</p>
                    <a href="{:U('mobile-ios')}" >查看详情<i class="fa fa-caret-right"></i></a></dd>
                </dl>
              </li>

              <li class="p4"> <a class="box" href="{:U('solution-list')}" >
                <div class="pic"></div>
                <span>解决方案</span> </a>
                <dl>
                  <dt></dt>
                  <dd>
                    <p>我们总结多年网上商城配套服务程序开发的实际经验与案例，为不同经营类型、不同行业特点的企业客户提供最佳的电商解决方案。</p>
                    <a href="{:U('solution-list')}" >查看详情<i class="fa fa-caret-right"></i></a></dd>
                </dl>
              </li>
          </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="business-model-box">
  <div class="business-model">
    <h2>21世纪最具创新的电商团队</h2>
    <h3>随着时代的发展，电商领域被细分为多种商业模式，宣汉网络根据不同的电商模式专注于B2B2C多端数据互通系统开发领域</h3>
  </div>
  <div class="index-model-box">
    <div class="index-model">
        <ul>
        <li class="p1"> <a class="box" href="" style="background-image: url('/xh/images/CRM.jpg');">
              <div class="pic pic01"></div>
              <span style="left:75px;">B2B2C模式</span> </a>
              <dl>
                <dt>融合B2B、B2C模式，助力打通上下游渠道产业链</dt>
                <dd> <a class="lf-a fl" href="{:U('b2b2c')}" >查看详情<i class="fa fa-caret-right"></i></a> <a class="lf-b fr" href="../v1-6/" >查看测试网址<i class="fa fa-caret-right"></i></a> </dd>
              </dl>
            </li>

            <li class="p1"> <a class="box" href="" style="background-image: url('/xh/images/account.jpg');">
              <div class="pic pic02"></div>
              <span>B2C模式</span> </a>
              <dl>
                <dt>以垂直行业，大宗交易为基础模型的B2B商业模式</dt>
                <dd> <a class="lf-a fl" href="" >查看详情<i class="fa fa-caret-right"></i></a> <a class="lf-b fr" href="../b2c/" >查看测试网址<i class="fa fa-caret-right"></i></a> </dd>
              </dl>
            </li>

            <li class="p1"> <a class="box" href="" style="background-image: url('/xh/images/purchase.jpg');">
              <div class="pic pic03"></div>
              <span>O2O模式</span> </a>
              <dl>
                <dt>将线下商务与互联网技术有效结合，让互联网成为线下交易的前台</dt>
                <dd> <a class="lf-a fl" href="mall-o2o.html" >查看详情<i class="fa fa-caret-right"></i></a> <a class="lf-b fr" href="javascript:" >查看测试网址<i class="fa fa-caret-right"></i></a> </dd>
              </dl>
            </li>

            <li class="p1"> <a class="box" href="" style="background-image: url('/xh/images/sale.jpg');">
              <div class="pic pic04"></div>
              <span>  微分销</span> </a>
              <dl>
                <dt>以个人间的交易为核心的多店商城系统</dt>
                <dd> <a class="lf-a fl" href="" >查看详情<i class="fa fa-caret-right"></i></a> <a class="lf-b fr" href="javascript:" >查看测试网址<i class="fa fa-caret-right"></i></a> </dd>
              </dl>

            </li>ss="p1"> <a class="box" href="" style="background-image: url('/xh/images/stock.jpg');">
              <div class="pic pic04"></div>
              <span>  微分销</span> </a>
              <dl>
                <dt>以个人间的交易为核心的多店商城系统</dt>
                <dd> <a class="lf-a fl" href="" >查看详情<i class="fa fa-caret-right"></i></a> <a class="lf-b fr" href="javascript:" >查看测试网址<i class="fa fa-caret-right"></i></a> </dd>
              </dl>
            </li>
        </ul>

    </div>
  </div>
</div>
<div class="clear"></div>
<div class="function-container">
  <h2>功能模块</h2>
  <h3>开源第一ERP，完整功能超乎你想象...</h3>
  <div class="function-content">
<ul>
      <li class="f01"><a><span></span>
        <div class="pic fa fa-5x fa-shopping-cart" ></div>
        <dl>
          <dt>电子商务</dt>
          <dd>Odoo的电子商务软件完全颠覆传统认知。精致的商品分类和完美的商品介绍页面。</dd>
        </dl>
        </a> 
      </li>

      <li class="f05"><a><span></span>
        <div class="pic fa fa-5x fa-line-chart"></div>
        <dl>
          <dt>客户关系管理</dt>
          <dd>在您的销售渠道内工作，获得关于下一步行动、新信息、顶级机遇和预期收益的即使视觉化讯息。</dd>
        </dl>
        </a> </li>

      <li class="f16"><a><span></span>
        <div class="pic fa fa-5x fa-barcode"></div>
        <dl>
          <dt>销售</dt>
          <dd>发送报价明确的定价，让客户能更好地决定接受、拒绝或要求更多的信息。</dd>
        </dl>
        </a> </li>

      <li class="f17"><a><span></span>
        <div class="pic fa fa-5x fa-home"></div>
        <dl>
          <dt>库存</dt>
          <dd>实现自动化交易，降低库存水平和获得完整的可追溯性，这一切都可通过Odoo复式库存系统来实现。</dd>
        </dl>
        </a> </li>
      <li class="f07"><a><span></span>
        <div class="pic fa fa-5x fa-legal"></div>
        <dl>
          <dt>采购</dt>
          <dd>自动采购建议，提出报价要求，跟踪采购订单，管理供应商信息，产品接收和供应商发票。</dd>
        </dl>
        </a> </li>
      <li class="f02"><a><span></span>
        <div class="pic fa fa-5x fa-gears"></div>
        <dl>
          <dt>制造</dt>
          <dd>使用Odoo管理您的所有组件和/或制造业务。计划生产订单和订单的自动。</dd>
        </dl>
        </a> </li>
      <li class="f04"><a><span></span>
        <div class="pic fa fa-5x fa-comments"></div>
        <dl>
          <dt>营销</dt>
          <dd>易发邮件给你带来机遇和客户。跟踪邮件活动的性能以提高转换率。</dd>
        </dl>
        </a> </li>
      <li class="f06"><a><span></span>
        <div class="pic fa fa-5x fa-table"></div>
        <dl>
          <dt>项目</dt>
          <dd>Odoo的协作和项目管理的实时帮助你完成工作。从客户协议到最终开票，Odoo为您追踪全过程。</dd>
        </dl>
        </a> </li>
      <li class="f08"><a><span></span>
        <div class="pic fa fa-5x fa-bullhorn"></div>
        <dl>
          <dt>活动</dt>
          <dd>不论您是组织会议，研讨，培训或者网络研讨会。Odoo为您提供线上线下活动所需的全部功能以及活动的网站。</dd>
        </dl>
        </a> </li>
      <li class="f09"><a><span></span>
        <div class="pic fa fa-5x fa-cny"></div>
        <dl>
          <dt>财务</dt>
          <dd>精致且功能完备，我们的会计软件适用于任何企业。从综合分析会计到预算，从资产管理和多公司合并，它包罗万象。</dd>
        </dl>
        </a> </li>
      <li class="f10"><a><span></span>
        <div class="pic fa fa-5x fa-truck"></div>
        <dl>
          <dt>进销存</dt>
          <dd>根据发送给您的客户的报价创建发票。直接发送专业的外观发票在点击。在线支付和自动跟踪。</dd>
        </dl>
        </a> </li>
      <li class="f11"><a><span></span>
        <div class="pic fa fa-5x fa-group"></div>
        <dl>
          <dt>人力资源</dt>
          <dd>以简便的操作管理所有的人力资源项目：知识共享，招聘，考核，考勤，合同，参与度，工资，等等。</dd>
        </dl>
        </a> </li>
      <li class="f12"><a><span></span>
        <div class="pic fa fa-5x fa-envelope"></div>
        <dl>
          <dt>电邮推广</dt>
          <dd>商城预存款、在线支付、商城充值卡，多种形式的账户付款方式既让会员的账户安全可靠又灵活多样。</dd>
        </dl>
        </a> </li>
      <li class="f14"><a><span></span>
        <div class="pic fa fa-5x fa-firefox"></div>
        <dl>
          <dt>网站生成器</dt>
          <dd>买家可对完成的订单进行评价和晒单，也可在微商城、圈子等多频道进行分享，更可分享至站外微博微信。</dd>
        </dl>
        </a> </li>
      <li class="f15"><a><span></span>
        <div class="pic fa fa-5x fa-user"></div>
        <dl>
          <dt>在线客服</dt>
          <dd>量身定制iOS/Android/Wap版手机应用以及微信管理，微信支付等功能让商城在移动终端市场占据相应份额</dd>
        </dl>
        </a> </li>
    </ul>
    
  </div>
</div>


<!-- <div class="index-java middle">
  <div class="index-java-content">
    <h1>Java多用户商城系统</h1>
    <h3>卓越的设计，一流的团队，为您打造国内最领先的Java语言商城</h3>
    <p>基于目前最成熟、最主流的Spring、SpringMVC、HIBERNATE作为程序框架，支持多数据库配合（MySQL、ORACLE、PostgreSQL、SQLServer），精美的界面模板，人性化的操作体验，完备的订单流程，丰富的促销形式，适合搭建稳定、高效的电子商务平台。</p>
    <a href="mall-java.html"  target="_blank" title="">了解更多Java产品信息</a> </div>
</div> -->
<div class="clear"></div>
<!-- 代码 结束 --> 
<script>
$(function(){
	$('.tabs').tabulous({
		effect: 'flip'//动画反转效果 
	});
});
</script>

</block>
<block name="js">

</block>

