<block name="content">
<script type="text/javascript">
    $(function(){
        if ($('#display_ban').val()) {
            $('#banner').hide();
        } else {
            $('#banner').flexslider({animation:"slide",slideshowSpeed:4000});
        }

    });
</script>
<link href="__STATIC__/css/style.css" tppabs="__STATIC__/css/style.css" rel="stylesheet">

<div class="banner-layout banner-circle" style="background:#8AA3CD">
  <div class="banner">
    <h1>&nbsp;</h1>
    <h3>ShopNC O2O电商系统</h3>
  </div>
</div>
<div id="o2o" class="main-layout">
  <div class="classify-nav pinned">
    <ul id="nav" class="page-nav">
      <li><a href="#intro">产品概述</a></li>
      <li><a href="#ui">系统插件</a></li>
      <li><a href="#options">热点功能</a></li>
      <li><a href="#guestBook">客户留言</a></li>
    </ul>
  </div>
  <section>
    <div class="page-location" id="intro">&nbsp;</div>
    <div class="wrap">
      <div class="title" style="padding-bottom:10px">
        <h2>ShopNC O2O电商系统是什么?</h2>
        <h4>让我们为您诠释该套系统的历史、发展及未来</h4>
      </div>
      <div class="wrap" style="padding:0">
<div class="runtime">
        <dl style="width: 500px; padding-right: 50px; border-right: dotted 1px #E7E7E7;">
          <dt style="text-align:justify; padding-left:65px">ShopNC O2O电商系统，以城市为基础，商圈（社区）为单位，以客户的周边生活服务为基础业务，通过互联网、移动互联网等技术手段整合海量互联网商户、海量本地周边生活服务商户，以O2O电商平台为服务支点，为会员提供全方位服务，对传统门店进行升级，使其不仅拥有传统门店的客流，还拥有强大的网络宣传推广能力。</dt>
        </dl>
        <div class="down" style="padding-left:80px;">
        
       <a href=""  target="_blank" style="background:#3B9DE6; margin-top:0">
            <h3><i class="fa fa-search"></i>&nbsp;查看测试网址</h3>
            <h5>即刻体验ShopNC O2O电商系统</h5>
            </a>
      </div>
    </div>
    </div>
    </div>
  </section>
  <section id="ui">
    <div class="page-location" id="intro">&nbsp;</div>
    <div class="wrap">
      <div class="title">
        <h2>系统插件—外卖系统</h2>
      </div>
      <div class="content">
        <div class="font16">ShopNC外卖系统验ShopNC O2O电商系统的一个系统插件，系统通过PC端网站、独立手机APP、微信公共账号来进行服务的网络外卖预订平台。成熟的外卖预订系统，节约您的开发成本、缩短业务上线时间。助您迅速开启O2O行业服务，快速抢占市场份额！ShopNC外卖插件主要提供外卖和预订两大功能，通过外卖送上门和预订到店消费来实现。通过ShopNC外卖预订系统可以方便的基于地址位置搜索到附近的盒饭、水果、饮料、蛋糕等外卖信息。消费者可以随时随地自助下单、付款、留下送货地址、电话、送货时间并添加备注，在家等着商品送上门，完成一次足不出户的完美体验。</div>
            <div class="pic"></div>
            <h4>实物类商品</h4>
            <p>来自互联网的商品，门店自备的实物类商品。</p>
          </li>
          <li class="cf10">
            <div class="pic"></div>
            <h4>虚拟类商品</h4>
        <img class="block middle" src="images/o2o-02.jpg"  alt="验ShopNC O2O电商系统插件—外卖系统" style="width:90%"/>
    </div>
    </div>
  </section>
  <section>
    <div class="page-location" id="options">&nbsp;</div>
    <div class="wrap">
      <div class="title">
        <h2>ShopNC O2O电商系统有哪些功能？</h2>
        <h4>从商城功能模块读解其用途与特征，以及功能亮点。</h4>
      </div>
      <div id="c2c">
      <style>#c2c .function-list ul li{ width:196px;}</style>
      <div class="function-list">
        <ul>
          <li class="cf01">
            <div class="pic"></div>
            <h4>分城市管理</h4>
            <p>按照城市分别设置站点，根据会员登录的IP跳转的相应的城市站点（手机APP根据LBS定位）。</p>
          </li>
          <li class="cf02">
            <div class="pic"></div>
            <h4>商圈管理</h4>
            <p>可以把城市按照不同的城区、商圈、社区来进行划分，方便会员检索。</p>
          </li>
          <li class="cf03">
            <div class="pic"></div>
            <h4>自营体验店</h4>
            <p>自营店铺可设置体验店，进行试吃、试穿、试用、试玩等不同体验活动。</p>
          </li>
          <li class="cf04">
            <div class="pic"></div>
            <h4>社区自提点</h4>
            <p>可在社区设立物流自提点，会员可选择配送货物至自提点，从根本上解决最后一公里。</p>
          </li>
          <li class="cf06">
            <div class="pic"></div>
            <h4>上门配送</h4>
            <p>商家可以根据自己所设置的配送区域，进行上门配送，提高配送效率。</p>
          </li>
          <li class="cf07">
            <div class="pic"></div>
            <h4>门店管理</h4>
            <p>商家可设置多个门店，会员可在各门店选择实物商品自提，服务商品服务。</p>
          </li>
          <li class="cf08">
            <div class="pic"></div>
            <h4>商家入驻</h4>
            <p>方便快捷的商家入驻体系，商家从申请入驻至上线运营仅仅只需3分钟。</p>
          </li>
          <li class="cf09">
            <p>餐饮类、门票、电影票等通过手机兑换码的形式来进行商品的使用。</p>
          </li>
          <li class="cf11">
            <div class="pic"></div>
            <h4>服务类商品</h4>
            <p>洗衣、家政服务、电器维修、租车、旅游等服务性质商品的购买及预订。</p>
          </li>
          <li class="cf12">
            <div class="pic"></div>
            <h4>缴费类商品</h4>
            <p>水电煤气费、宽带、手机充值等系统拥有完善的API接口可与第三方收费系统进行完美对接。</p>
          </li>
          <li class="cf13">
            <div class="pic"></div>
            <h4>周边服务商</h4>
            <p>会员通过定位系统快速查找周边的服务提供商。查找周边的美食、电影、酒店、加油站、超市…</p>
          </li>
        </ul>
      </div>
      </div>
    </div>
  </section>


<include file="im"/>

<script src="js/jquery.carousel.js" ></script> 
<script src="js/lightbox.min.js" ></script> 
<script src="js/jquery.tabslet.js" ></script> 
<script>
$(function(){
	//页内导航条位置
	$('#nav').onePageNav({
		filter: ':not(.exception)'
	});	
	//滚动固定分类导航条
    $(".pinned").pin({
    containerSelector: ".main-layout"
    });
	//模板类型切换
	$('.ui-tabs').tabslet({
		animation: true
	});
});
</script>
</block>
<block name="js">

</block>

