
<link rel="stylesheet" href="__STATIC__/css/web.assets_frontend.2.css">
<style>
    .o-icon.text-gamma {
        border: 1px solid #333;
        border-color: inherit;
        font-size: 2em;
        border-radius: 40px;
    }
    .o_v_align_col {
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
    }
    .o_v_align_col > * {
        -ms-flex: 0 0 auto;
        -moz-flex: 0 0 auto;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 100%;
    }
</style>
    <div id="wrap" class="oe_structure oe_empty">
        <section class="s_responsive_to_image_block js_top_banner bg-white" style="padding-bottom: 42%; background-image: url(https://www.odoo.com/web/image/2246578); background-size: auto 100%; opacity: 1;">
            <div class="wrapper">
                <div class="container">
                    <div class="row o_v_align_col">
                        <div class="col-xs-12 col-sm-8 col-md-7 mt8 mb96">
                            <h1 class="mt0 display-2 mb16">使用方便的

                                <strong>报价单</strong>
                                <br>软件

                            </h1>
                            <h4 class="mb0 fw_light">发送修改后的报价单<br>，包含电子签名和在线支付功能。

                            </h4>
                            <a href="/zh_CN/trial?selected_app=sale" class="mt32 mb8 btn btn-primary o_btn_cta" style="position: relative; overflow: hidden;">免费开始</a>
                            <br>

                            <div class="o_schedule_demo text-center ">










                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="o_offset_top_medium">
            <div class="container">
                <div class="row" style="margin-top: -50px;">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <div class="s_browser shadow text-left">
                            <img class="bar" src="//odoocdn.com/openerp_website/static/src/img/2016/components/browser.png" alt="">
                            <div class="content tab-content s_tooltips_tabs">
                                <div role="tabpanel" class="tab-pane in active" id="dep1">
                                    <img class="img img-responsive bg-white s_tooltip_tabs_tooltip_image" style="opacity: 1;" src="//odoocdn.com/web/image/2246626" alt="">
                                    <div class="s_tooltip_tabs_tooltip s_tooltip_tabs_tooltip_is_bottom s_tooltip_tabs_tooltip_is_left" style="top:16%;left:10%;" data-original-title="" title="">
                                        <div class="panel text-center">
                                            <h5>电子签呈 或信用卡在线支付。</h5>
                                        </div>
                                        <a href="#" class="s_tooltip_tabs_tooltip_link"></a>
                                    </div>
                                    <div class="s_tooltip_tabs_tooltip s_tooltip_tabs_tooltip_is_bottom s_tooltip_tabs_tooltip_is_left" style="top:86%;left:10%;" data-original-title="" title="">
                                        <div class="panel text-center">
                                            <h5>关闭触发器</h5>
                                        </div>
                                        <a href="#" class="s_tooltip_tabs_tooltip_link"></a>
                                    </div>
                                    <div class="s_tooltip_tabs_tooltip s_tooltip_tabs_tooltip_is_bottom s_tooltip_tabs_tooltip_is_right" style="top:89%;left:45%;" data-original-title="" title="">
                                        <div class="panel text-center">
                                            <h5 class="o_card_title">直接在报价单协商。</h5>
                                        </div>
                                        <a href="#" class="s_tooltip_tabs_tooltip_link"></a>
                                    </div>
                                    <div class="s_tooltip_tabs_tooltip s_tooltip_tabs_tooltip_is_left s_tooltip_tabs_tooltip_is_bottom" style="top:56%;left:54%;" data-original-title="" title="">
                                        <div class="panel text-center">
                                            <h5 class="o_card_title">增销以提高每张订单的平均收益。</h5>
                                        </div>
                                        <a href="#" class="s_tooltip_tabs_tooltip_link"></a>
                                    </div>
                                    <div class="s_tooltip_tabs_tooltip s_tooltip_tabs_tooltip_is_right s_tooltip_tabs_tooltip_is_bottom" style="top:4.5%;left:79%;" data-original-title="" title="">
                                        <div class="panel text-center">
                                            <h5 class="o_card_title">在线报价单编辑器</h5>
                                        </div>
                                        <a href="#" class="s_tooltip_tabs_tooltip_link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-white text-center">
            <div class="container">
                <div class="row mt92 mb64">
                    <div class="col-md-12">
                        <h2 class="display-3 fw_extralight mt0 mb0">您的在线报价<br>从<b>建议</b>到<b>电子签名</b></h2>
                    </div>
                </div>
                <div class="row mb92">
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-8 col-sm-push-2">
                                <i class="fa fa-2x fa-pencil o-icon text-gamma"></i>
                                <h5 class="mt16">运用模板</h5>
                            </div>
                            <div class="col-sm-4 col-sm-push-2">
                                <i class="fa fa-2x fa-long-arrow-right hidden-xs mt32"></i>
                                <i class="fa fa-2x fa-long-arrow-down visible-xs mt24 mb24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-8 col-sm-push-2">
                                <i class="fa fa-2x fa-envelope-o o-icon text-gamma"></i>
                                <h5 class="mt16">发送报价</h5>
                            </div>
                            <div class="col-sm-4 col-sm-push-2">
                                <i class="fa fa-2x fa-long-arrow-right hidden-xs mt32"></i>
                                <i class="fa fa-2x fa-long-arrow-down visible-xs mt24 mb24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-8 col-sm-push-2">
                                <i class="fa fa-2x fa-check o-icon text-gamma"></i>
                                <h5 class="mt16">完成交易</h5>
                            </div>
                            <div class="col-sm-4 col-sm-push-2">
                                <i class="fa fa-2x fa-long-arrow-right hidden-xs mt32"></i>
                                <i class="fa fa-2x fa-long-arrow-down visible-xs mt24 mb24"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-sm-8 col-sm-push-2">
                                <i class="fa fa-2x fa-credit-card o-icon text-gamma"></i>
                                <h5 class="mt16">加快回款速度</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mt92 mb64">
                    <div class="col-md-4 mb32">
                        <img src="//odoocdn.com/web/image/2246227" class="img img-responsive deep-1" alt="">
                        <h5 class="mt24 mb10">
                            <b>使用电子签名更快销售</b>
                        </h5>
                        <p>允许客户随处轻松查看并签署您的在线报价单。</p>
                    </div>
                    <div class="col-md-4 mb32">
                        <img src="//odoocdn.com/web/image/2246228" class="img img-responsive deep-1" alt="">
                        <h5 class="mt24 mb10">
                            <b>快速有效地沟通</b>
                        </h5>
                        <p>获得相关活动的自定义提醒，通过电子邮件自动沟通报价，全面追踪所有谈判记录。<br></p>
                    </div>
                    <div class="col-md-4 mb32">
                        <img src="//odoocdn.com/web/image/2246229" class="img img-responsive deep-1" alt="" style="">
                        <h5 class="mt24 mb10">
                            <b>通过超售实现利润最大化</b>
                        </h5>
                        <p>通过自动提出额外选项和配件、申请关闭触发条件、折扣等来提高销量。</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="o_bottom_bar_dark bg-white o_overflow_hidden">
            <div class="container mt92">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="display-4 fw_extralight mt0">通过


                            <b>简洁</b>的报价单来


                            <b>增加</b>销售


                        </h2>
                        <h4 class="fw_light mb32">以专业方式展示产品和服务。</h4>
                        <p>向潜在客户发送清晰且完整的报价单。只需简单拖放构建模块，即可轻松添加产品说明、美观的图像以及其他信息。</p>
                        <div class="s_testimonial text-heading font-heading mt64">
                            <div class="thumb">
                                <img src="//odoocdn.com/website/image/ir.attachment/1093293_b901261/datas" alt="Ruben Real" class="img img-responsive">
                            </div>
                            <blockquote>
                                <p>“我们喜欢 Odoo 的销售 app，因为它可以快速地创建专业的销售报价单，帮助我们节约了时间，而我们的客户也因为我们高效的服务及快速的反应而感到高兴。”</p>
                                <p>
                                    <small>Ruben Real，EMEA 地区销售经理</small>
                                </p>
                            </blockquote>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-md-offset-1">
                        <img src="//odoocdn.com/openerp_website/static/src/img/content/quote_builder_06.gif" class="img img-responsive shadow" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container mt92 mb64">
                <div class="row">
                    <div class="col-md-12 text-center mb48">
                        <h2 class="display-3 fw_extralight mt0">实惠的


                            <b>价格</b>带来更多


                            <b>回报</b></h2>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <i class="fa fa-2x fa-bar-chart o-icon text-gamma"></i>
                        <p class="mb32 mt16">设计、实施并调整


                            <br>您的定价策略，以实现收入最大化。&nbsp; </p>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <i class="fa fa-2x fa-dollar o-icon text-gamma"></i>
                        <p class="mb32 mt16">根据客户情况<br>使用合适的价目表规则计算合适的价格。 </p>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <i class="fa fa-2x fa-ticket o-icon text-gamma"></i>
                        <p class="mb32 mt16">提供<br>折扣和礼券，鼓励顾客购买更多产品。


                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center mt92">
                        <h2 class="display-3 fw_extralight mt0"><b>订单</b>及

                            <b>合同</b>整理

                        </h2>
                        <h4 class="fw_light mb32">自动运行且关注客户关系和收益</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-white s_image_text_1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mt48">
                        <img src="//odoocdn.com/web/image/2246256" class="img img-responsive shadow" alt="" style="">
                    </div>
                    <div class="col-md-5 col-md-offset-1 mt48">
                        <h5>从报价到销售订单</h5>
                        <p class="mb32">
                            <span style="color: rgb(90, 100, 120);line-height: 22px;background-color: rgb(254, 254, 254)">只需单次点击，即可将报价单转化为销售订单，或让客户通过简单的电子签名进行签字批准。</span>
                            <br>
                        </p>
                        <h5>合同管理</h5>
                        <p class="mb32">根据时间和材料为客户开具发票、轻松记录合同并追踪开票阶段、
                            <span style="color: rgb(90, 100, 120);line-height: 22px;background-color: rgb(254, 254, 254)">维持续订和增销的机会、</span>以及通过 Odoo 的经常性合同管理您的订阅。

                        </p>
                        <h5>方便客户自助处理</h5>
                        <p class="mb32">客户入口让您的客户可访问报价、销售订单和交货单。节约时间并使用 <b>Odoo Sign</b> 轻松获得保密协议、合同或任何 PDF 文件上的签名。</p>
                    </div>
                </div>
            </div>
        </section>
    </div>