<block name="content">
<link href="__STATIC__/css/style.css"  rel="stylesheet">
<style>
.product-content{ margin:20px auto 60px}
.product-content ul li p{ text-align:center}
</style>
<div class="about-top-banner top-banner" style="background:url(__STATIC__/images/solution-banner.jpg) center no-repeat; height:354px;"></div>
<div class="middle">
<h1 style="color:#000; font-size:36px; text-align:center; padding:60px 0px 16px;">ShopNC为您提供专业的电商解决方案</h1>
<h2 style="color:#666; font-size:14px; text-align:center; padding:0px">专业的服务，高效的方案</h2>
</div>
<div class="product-content">
      <ul>
        <li class="p1"> <a href="department.html" >
          <img src="__STATIC__/images/solution/list-01.jpg"  width="220" height="220" alt="综合百货行业" style="padding:30px 40px"/>
          </a>
          <dl>
            <dt>综合百货行业</dt>
            <dd>
              <p>传统商超百货行业通过电商系统搭建快捷、便利的购物平台</p>
              <a href="department.html" >查看详情<i class="fa fa-caret-right"></i></a></dd>
          </dl>
        </li>
        <li class="p2"> <a href="crossborder1.html" >
          <img src="__STATIC__/images/solution/list-02.jpg"  width="220" height="220" alt="跨境零售行业" style="padding:30px 40px"/>
          </a>
          <dl>
            <dt>跨境零售行业</dt>
            <dd>
              <p>海外直邮、保税集货、清关备货，三种跨境模式下的解决方案</p>
              <a href="crossborder1.html" >查看详情<i class="fa fa-caret-right"></i></a></dd>
          </dl>
        </li>
        <li class="p3"> <a href="crossborder4.html" >
          <img src="__STATIC__/images/solution/list-03.jpg"  width="220" height="220" alt="电视购物行业" style="padding:30px 40px"/>
          </a>
          <dl>
            <dt>电视购物行业</dt>
            <dd>
              <p>电视端、pc端、移动端、触屏设备等一体化电视购物商城系统</p>
              <a href="crossborder4.html" >查看详情<i class="fa fa-caret-right"></i></a></dd>
          </dl>
        </li>
        <li class="p4"> <a href="crossborder3.html" >
          <img src="__STATIC__/images/solution/list-04.jpg"  width="220" height="220" alt="社区O2O行业" style="padding:30px 40px"/>
          </a>
          <dl>
            <dt>社区O2O行业</dt>
            <dd>
              <p>线上线下完美结合，聚集消费群体，体验新时尚消费的快感</p>
              <a href="crossborder3.html" >查看详情<i class="fa fa-caret-right"></i></a></dd>
          </dl>
        </li>
      </ul>
    </div>
<div class="product-content">
      <ul>
        <li class="p1"> <a href="solution.html" >
          <img src="__STATIC__/images/solution/list-05.jpg"  width="220" height="220" alt="汽车行业" style="padding:30px 40px"/>
          </a>
          <dl>
            <dt>汽车行业</dt>
            <dd>
              <p>新车及二手车销售、汽车服务、汽车金融为主体的解决方案</p>
              <a href="solution.html" >查看详情<i class="fa fa-caret-right"></i></a></dd>
          </dl>
        </li>
        <li class="p2"> <a href="crossborder2.html" >
          <img src="__STATIC__/images/solution/list-06.jpg"  width="220" height="220" alt="母婴行业" style="padding:30px 40px"/>
          </a>
          <dl>
            <dt>母婴行业</dt>
            <dd>
              <p>全网平台搭建，多触点连接用户，打通母婴市场全渠道的方案</p>
              <a href="crossborder2.html" >查看详情<i class="fa fa-caret-right"></i></a></dd>
          </dl>
        </li>
        <li class="p3"> <a href="crossborder5.html" >
          <img src="__STATIC__/images/solution/list-07.jpg"  width="220" height="220" alt="医药行业" style="padding:30px 40px"/>
          </a>
          <dl>
            <dt>医药行业</dt>
            <dd>
              <p>针对医药流通领域，提供多种经营电商业务模式的系统方案</p>
              <a href="crossborder5.html" >查看详情<i class="fa fa-caret-right"></i></a></dd>
          </dl>
        </li>
        <li class="p4"> <a href="crossborder6.html" >
          <img src="__STATIC__/images/solution/list-08.jpg"  width="220" height="220" alt="工业品行业" style="padding:30px 40px"/>
          </a>
          <dl>
            <dt>工业品行业</dt>
            <dd>
              <p>解决信息流、业务流、资金流、物流等工业电商核心的方案</p>
              <a href="crossborder6.html" >查看详情<i class="fa fa-caret-right"></i></a></dd>
          </dl>
        </li>
      </ul>
    </div>


<include file="im"/>


<script src="__STATIC__/js/jquery.carousel.js" ></script> 
<script src="__STATIC__/js/lightbox.min.js" ></script> 
<script src="__STATIC__/js/jquery.tabslet.js" ></script> 
<script type="text/javascript">
$(function(){
	//页内导航条位置
	$('#nav').onePageNav({
		filter: ':not(.exception)'
	});
	//滚动固定分类导航条
    $(".pinned").pin({
    containerSelector: ".main-layout"
    });
	//模板类型切换
	$('.ui-tabs').tabslet({
		animation: true
	});
});

function freshVerify() {
  $('#codeimage').attr("src", $('#codeimage').attr("src").split("?")[0] + "?" + Math.random());
}
</script>
</block>
<block name="js">

</block>