<block name="content">
<link href="__STATIC__/css/style.css"  rel="stylesheet">
<style>
.main-im .im_main .im-tel .solution { display: none !important;}
/*.main-im .im_main .im-tel .b2b { display: none !important;}*/
#top{background:url("__STATIC__/images/top_bg2.png") center;}
.banner-layout{ margin-top:0px; height:458px;}
</style>
<div class="banner-layout banner-automotive">
  <div class="banner">
    <h2>汽车行业</h2>
    <h3>电商解决方案</h3>
    <p>汽车行业电商平台，以大数据为基础，以客户的汽车生活为核心，通过数据挖掘、信息交互、需求对接等手段，打造成全渠道、社会化的汽车集成服务平台。实现新车销售、二手置换、汽车用品、汽车服务、汽车金融、汽车周边服务、汽车社区等业务B2B2C+O2O模式的综合汽车业务解决方案。</p>
  </div>
</div>
<div class="main-layout" id="automotive">
  <section class="block01">
    <div class="wrap">
      <div class="title">
        <h2>汽车行业电商平台运营模式</h2>
        <p>根据客户和消费者的需求与企业经营范围，从购车开始提供一系列的配套服务，将线上线下信息贯通，方便客户的同时让企业也收益颇丰。</p>
      </div>
      <div class="content">
        <div class="automotive-pic01"> <img src="__STATIC__/images/solution/automotive_pic01.png"  alt="汽车行业电商平台运营模式"/> </div>
      </div>
    </div>
  </section>
  <section class="block02">
    <div class="wrap">
      <div class="content">超过七成的意向购车者表示“快捷，减少不必要的流程”（77%）和“价格更加优惠”（75%）是他们乐意使用在线购车的主要原因。
        但是，担心实物与宣传不符（74%）、担忧网购出现问题时维权困难（60%）、缺乏试乘试驾体验（51%）以及担心网购大额支付的安全（50%）。</div>
    </div>
  </section>
  <section class="block03">
    <div class="wrap">
      <div class="title">
        <h2>汽车行业电商平台-购车消费者类型分析及对策</h2>
      </div>
      <div class="content">
        <div class="pic"><img src="__STATIC__/images/solution/automotive_pic03.gif"  alt="汽车行业电商平台-购车消费者类型分析及对策"/> </div>
        <ul>
          <li><i>1.</i>第一类是潜在购车者，上网看车无非是增加对车的了解，广受各类汽车广告的轰炸、吸引。</li>
          <li><i>2.</i>第二类是有购车动机，对于品牌存在不确定，意图在网上获得更多信息。</li>
          <li><i>3.</i>第三类是对于品牌已经确定，意图通过网络寻找最合适的车型，经销商。</li>
          <li><i>4.</i>第四类是对于品牌、车型基本确定，也已经跑过4S店，意图通过网络寻求更低的价格，更好的服务。</li>
          <li><i>5.</i>第五类是对于品牌、车型已经确定，跑过数家4S店，意图通过网络寻求更低的价格，而且打算通过车贷的方法进行购车。</li>
          <li><i>6.</i>第六类是车已经决定购买，现在通过网络试图选择合适的保险公司。</li>
          <li><i>7.</i>第七类是对于品牌、车型已经确定，试图通过网络寻求整体的购车解决方案。</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="block04">
    <div class="wrap">
      <div class="title">
        <h2>汽车行业电商平台-服务类常见流程项目</h2>
      </div>
      <div class="content">
        <div class="step"><img src="__STATIC__/images/solution/automotive_pic04_step.png"  alt="汽车行业电商平台-服务类常见流程项目"/></div>
        <ul>
          <li><i></i><span class="pic01"></span>更换刹车油</li>
          <li><i></i><span class="pic02"></span>更换空调滤清器</li>
          <li><i></i><span class="pic03"></span>加注空调制冷剂</li>
          <li><i></i><span class="pic04"></span>加注防冻液</li>
          <li><i></i><span class="pic05"></span>节气门清洗</li>
          <li><i></i><span class="pic06"></span>喷油嘴清洗</li>
          <li><i></i><span class="pic07"></span>发动机外部清洗</li>
          <li><i></i><span class="pic08"></span>发动机内部清洗</li>
          <li><i></i><span class="pic09"></span>底盘装甲</li>
          <li><i></i><span class="pic10"></span>车漆打蜡</li>
          <li><i></i><span class="pic11"></span>漆面封釉</li>
          <li><i></i><span class="pic12"></span>漆面镀膜</li>
          <li><i></i><span class="pic13"></span>漆面镀晶</li>
          <li><i></i><span class="pic14"></span>漆面抛光</li>
          <li><i></i><span class="pic15"></span>车身清洗</li>
          <li><i></i><span class="pic16"></span>内饰清洗</li>
          <li><i></i><span class="pic17"></span>杀菌消毒</li>
          <li><i></i><span class="pic18"></span>空调护理</li>
          <li><i></i><span class="pic19"></span>蒸汽桑拿</li>
          <li><i></i><span class="pic20"></span>更换电瓶</li>
          <li><i></i><span class="pic21"></span>更换火花塞</li>
          <li><i></i><span class="pic22"></span>更换雨刮</li>
          <li><i></i><span class="pic23"></span>更换前刹车盘</li>
          <li><i></i><span class="pic24"></span>更换前刹车片</li>
          <li><i></i><span class="pic25"></span>更换轮胎</li>
          <li><i></i><span class="pic26"></span>更换轮毂</li>
          <li><i></i><span class="pic27"></span>油漆修复</li>
          <li><i></i><span class="pic28"></span>钣金修复</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="block05">
    <div class="wrap">
      <div class="title">
        <h2>汽车行业电商平台-移动电商应用</h2>
      </div>
    </div>
  </section>
</div>

</block>
<block name="js">

</block>