<style>
    p,div{
        line-height: 2em;
        letter-spacing: 2px;
    }
    ul,li{
        list-style: disc !important;
    }
    .ui-warper{
        width: 100%;
        font-size: 14px;
    }
    .ui-warper .ui-warper-top{
        width: 100%;
    }
    .ui-warper-top img{
        width: 100%;
        display: block;
    }
    .ui-warper .ui-warper-sencond{
        margin: 0;
        padding: 0;
    }
    .row-container{
        margin: 0 auto;
        padding:40px;
        box-sizing: border-box;
    }
    .topAdvantage{
        color: #2b60ac;
        font-size: 24px;
        text-align: center;
        font-weight: bolder;
    }
    .bottomAdvantage{
        padding-top: 10px;
    }
    .ui-warper-third{
        background: #dae9fe;
    }
    .row-container-third{
        position: relative;
        overflow: hidden;
    }
    .third-img img{
        display: block;
        width: 100%;
    }
    .vertical-line{
        font-size: 16px;
        font-weight: bolder;

    }
    .color-blue{
        color: blue;
    }
    .fourth-img{
        margin-top: 20px;
    }
    .fourth-img img{
        width: 100%;
    }
    .ui-warper-fifth{
        background: #feedd9;
    }
    .sixth-row{
        font-size: 16px;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 10px;
    }
    .color-yellow{
        color: #985F0D;
    }
    .level-line{
        border: 2px solid #000000;
        margin: 0 auto;
        display: block;
        width: 50px;
    }
    .free-software{
        position: relative;
        overflow: hidden;
        margin-top: 30px;
    }
    .sixth-img img{
        width: 100%
    }
    .ui-warper-foot{
        background: #fcdbe2;
    }
    .level-line-foot{
        border: 2px solid #EBCCD1;
        margin: 0 auto;
        display: block;
        width: 50px;
        margin-bottom: 30px;
    }
    .foot-text{
        text-align: center;
    }

</style>
<div class="ui-warper">
    <div class="ui-warper-top"><img src="__STATIC__/images/texing/1.png"/></div>
    <div class="ui-warper-sencond">
        <div class="container row-container">
            <p class="topAdvantage">- 悟空优势 -</p>
            <p class="bottomAdvantage">Wokoo是一款为中小型企业打造的开源ERP管理软件。以云技术为基础的网页版 ERP针对中小企业的需求特别提供了定制化的解决方案。Wokoo拥有高度模块化的系统，各个不同的模块app提供不同的商业功能，这样可以让成长中的企业先根据需求实施一部分app，然后在企业发展和需求变化下实施更多的功能。 为契合中国本地化特色，wokoo在广泛支持国际电商、物流、银行系统同时，进一步对接 淘宝、京东、微信、支付宝、顺丰、韵达等中国本地企业，进一步完善其本地化进程。</p>
        </div>
    </div>
    <div class="ui-warper-third">
        <div class="container row-container row-container-third">
            <div class="row">
                <div class="col-xs-3">
                    <div class="third-img"><img src="__STATIC__/images/texing/4.png" /></div>
                </div>
                <div class="col-xs-9">
                    <p class="vertical-line"><span>|</span><span>架构先进</span></p>
                    <div class="third-text">
                        <ul style="padding-left: 15px;">
                            <li>
                                B/S（浏览器-服务器）架构（方便了更新和二次开发）， 跨操作系统方面很有优势，平板，手机默认都可以用。
                            </li>
                            <li>
                                先进的数据库PostgreSQL,先进的语言Python，大量的预开发代码可以实现快速进行二次开发。
                            </li>
                            <li>
                                可以部署在云端（企业可以自己建云，建立一个更大的数据库） 云计算特性很容易能把上下游整个供应链的资源都整合到wokoo中来。 （通过更改wokoo设置还可以开放客户接口和供应商接口）
                            </li>
                            <li>
                                内置了社交系统：消息系统。并在各个模块都拥有非常灵活的搜索和高级搜索界面。
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui-warper-fourth">
        <div class="container row-container">
            <p class="vertical-line"><span>|</span><span>价格优势</span></p>
            <ul style="padding-left: 15px;">
                <li>
                    在带宽和服务器硬件允许的情况下，社区版没有使用用户数的限制，客户端不用额外安装软件只要用新版的chrome浏览器或者firefox浏览器即可。
                </li>
                <li>
                    对于生产和大多数企业来说，二次开发本来就不可避免，由于有大量预开发模块，wokoo在二次开发的速度和价格上有非常大的优势。
                </li>
                <li>
                    相对很多软件使用微软的sql,微软的Server系统和操作系统，微软的office,这些软件如果买正版，也是一笔不小的开销。很多企业虽然买了正版的用友，金蝶，但微软的服务器系统，微软的数据库都是盗版，这为以后埋下不少隐患。 而Odoo用的服务器系统是Ubuntu Server他目前是自由免费的，PostgreSQL也是免费的。
                </li>
                <li>
                    如果自己找团队去开发wokoo这样一套系统，估计至少20个人开发5年，也就是差不多至少300万的开销。
                </li>
            </ul>
            <div class="fourth-img"><img src="__STATIC__/images/texing/2.png" /></div>
        </div>
    </div>
    <div class="ui-warper-fifth">
        <div class="container row-container">
            <p class="vertical-line"><span class="color-yellow">|</span><span>用户体验相对较好</span></p>
            <ul style="padding-left: 15px;">
                <li>
                    Wokoo的前端用了较多的Javascript代码，这样保证了用户体验较好：输入关键字即出现的产品及联系人选项，大大提高了操作速度，(有不少软件都需要多操作一步搜索）
                </li>
                <li>
                    非常强大的过滤及高级搜索功能 可以根据电话号码地址等字段搜索，可以根据客户或者产品来索引出此客户或者产品的销售情况，服务情况 。
                </li>
                <li>
                    方便查看各类单据了解产品的成本，售价的变化。比如可以显示现有库存量，查看产品的所有采购情况。
                </li>
                <li>
                    快速上线：不像其他软件，必须弄很多初始数据，有些初始数据比如产品名，会计期初帐wokoo可以在后期慢慢弄,
                </li>
                <li>
                    更直观的数据：具有柱状，饼状，雷达，曲线等 直观的数据透视图表显示，有些模块还具有甘特图。
                </li>
            </ul>
        </div>
    </div>
    <div class="ui-warper-sixth">
        <div class="container row-container">
            <p class="sixth-row">开源自由软件:利于对代码质量进行评审，利于学习，最终用户也可能掌握核心技术</p>
            <span class="level-line"></span>
            <div class="free-software">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="sixth-img"><img src="__STATIC__/images/texing/3.png" /></div>
                    </div>
                    <div class="col-xs-8">
                        <div class="sixth-text">
                            也是很重要的一条，它是开源软件，<br/>方便了大家的学习，<br/>
                            方便企业后期的开源和定制，不会像一个闭源软件那样，不好用了，就不得不找其他软件， 对于小企业来说， 它自带的一些模块都是免费的，如果需要他人提供实施及服务和定制才发生费用。 对企业来说：如果你找公司定制软件，如果这家公司倒闭了，这个软件基本就废掉了， 源代码别人一般不可能给你，给你你可能也看不懂，因为很多作者都看不懂自己在写什么。 开源软件就很好的避免了这个问题，wokoo大概全球有500名合作伙伴，不易被开发公司绑架。
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="ui-warper-foot">
        <div class="container row-container">
            <p class="sixth-row">自由软件部署方式灵活：数据库也能放在公司内部</p>
            <span class="level-line-foot"></span>
            <p class="foot-text">Wokoo非常有诚意，数据库可以安装在企业内部，不像有些软件，有绑架客户数据的企图，数据库需要安装在实施公司的云端。
                <br/>这样客户的数据的私密性就有更好的保障。</span>
        </div>
    </div>
</div>
