<block name="content">
<div class="about">
    <div class="banner-bg">
        <div class="banner-title">关于我们</div>

        <div class="banner-info"> 务实创新、追求卓越</div>
       <div><a href="javascript:$(document.body).animate({'scrollTop':630},1000);" class="down-btn"></a></div>
    </div>
    <div class="about-con">
        <div class="about-con-tit">
            <h2>公司简介</h2>
            <h4>Company Introduction</h4>

            <p class="info justify">上海柚伴信息科技有限公司，始建于2013年。是国内企业级应用服务提供商中的一只新生力量。旗下核心产品“悟空系统”是柚伴公司面向企业研发的互联网+ERP系统。依托强大的资金实力、先进的信息系统及专业的管理人才，公司在电气设备、能源、信息、电子商务等行业及领域精耕细作，形成了强大的供应链资源网络、解决方案设计及执行能力，提供包括：财务、采购、客户关系管理、销售、仓储等在内的一体化供应链解决方案，协助客户降低成本、提高效率、 加快资金周转， 扩大业务规模， 达成发展目标。</p>
        </div>
        <img alt="" src="__WAP__/image/about-img.jpg">
        <div class="about-con-tit pb10">
            <h2>核心产品</h2>
            <h4>Core Product</h4>
            <p class="info justify" style="border-bottom:1px solid #e7e7e7; padding-bottom:30px; ">公司核心产品
                “Wokoo”，是国内外应用范围最大、覆盖面最广的ERP软件产品，基于此，历经5年的时间，而发展成为国内外最先进的具备成熟且标准化的ERP技术解决方案提供商。“Wokoo”
                的每一次更新都引领着全球ERP软件研发领域的潮流。同时公司建立了由多名科学家构成的行业及技术研究中心，对电商行业发展趋势、软件产品架构、技术领先性、新技术应用与创新等都做出了卓越贡献。</p>
        </div>


        <div class="about-con-tit">
            <h2>联系方式</h2>
            <h4>Contact Details</h4>

            <p class="ads">上海市杨浦区杨树浦路1058号滨江国际广场1号楼3层</p>
            <!--<span><img alt="" src="__WAP__/image/map.jpg"></span>-->
        </div>


    </div>
</div>


</div>
</block>