<link rel="stylesheet" href="__STATIC__/css/web.assets_frontend.2.css">
<style>
    .o-icon.text-gamma {
        border: 1px solid #333;
        border-color: inherit;
        font-size: 2em;
        border-radius: 40px;
    }
    .o_v_align_col {
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
    }
    .o_v_align_col > * {
        -ms-flex: 0 0 auto;
        -moz-flex: 0 0 auto;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 100%;
    }
    .mt0 {
        margin-top: 40px !important;
    }
</style>
<div id="wrap" class="oe_structure">
    <section class="s_responsive_to_image_block js_top_banner bg-white" style="background-image: url(https://www.odoo.com/openerp_website/static/src/img/2016/accounting/accountant.jpg); padding-bottom: 45%; background-size: auto 100%; opacity: 1;">
        <div class="wrapper">
            <div class="container">
                <div class="row o_v_align_col">
                    <div class="col-xs-12 col-sm-8 col-md-7 mt8 mb96">
                        <h1 class="mt0 display-2 mb16 ">美观的 <strong>会计</strong> 软件</h1>
                        <h4 class="mb0 fw_light">用更少的时间，做更多的事情</h4>
                        <a href="http://yanshi.youbaninfo.com/web/login" class="mt32 mb8 btn btn-primary o_btn_cta" style="position: relative; overflow: hidden;">免费开始</a><br>

                        <div class="o_schedule_demo text-center ">










                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="o_offset_top_medium">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <div class="s_browser shadow text-left mt80 mb80">
                        <img class="bar" src="//odoocdn.com/openerp_website/static/src/img/2016/components/browser.png" alt="">

                        <div class="content tab-content s_tooltips_tabs">
                            <div role="tabpanel" class="tab-pane in active" id="dep1">
                                <img class="img-responsive s_tooltip_tabs_tooltip_image" src="//odoocdn.com/openerp_website/static/src/img/2016/accounting/accounting_screenshot_01.gif" alt="">
                                <div class="s_tooltip_tabs_tooltip s_tooltip_tabs_tooltip_is_bottom s_tooltip_tabs_tooltip_is_right" style="top:75%;left:65%;">
                                    <div class="panel">
                                        <h4 class="o_card_title">开具发票</h4>
                                        <p>创建准确且专业的发票、管理循环账单，并轻松追踪付款。</p>
                                    </div>
                                    <a href="#" class="s_tooltip_tabs_tooltip_link"></a>
                                </div>
                                <div class="s_tooltip_tabs_tooltip" style="top:35%;left:15%;">
                                    <div class="panel">
                                        <h4 class="o_card_title">与银行同步</h4>
                                        <p>自动同步银行对账单与银行数据，或轻击一下导入文档。</p>
                                    </div>
                                    <a href="#" class="s_tooltip_tabs_tooltip_link"></a>
                                </div>
                                <div class="s_tooltip_tabs_tooltip s_tooltip_tabs_tooltip_is_right" style="top:35%;left:65%;">
                                    <div class="panel">
                                        <h4 class="o_card_title">方便调节</h4>
                                        <p>通过我们的智能对账工具，节约时间并自动进行 95% 的对账。</p>
                                    </div>
                                    <a href="#" class="s_tooltip_tabs_tooltip_link"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white o_overflow_hidden">
        <div class="container text-center">
            <h2 class="display-3 mt96">流行<b>功能特色</b>改变您的生活</h2>
            <h4 class="lead mb32">提高业务所需的各种省时工具。</h4>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 mt32">
                    <div class="row o_equal_col_sm">
                        <div class="col-xs-12 col-sm-4 text-center-xs text-left">
                            <h5 class="mt96">与银行同步</h5>
                            <p>自动同步银行对账单与银行数据，或导入文档。</p>
                            <h5 class="mt64">开具发票</h5>
                            <p class="mb96">创建准确且专业的发票、管理循环账单，并轻松追踪付款。</p>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <img style="position:absolute; top:0; left:0" class="img-responsive center-block" src="//odoocdn.com/openerp_website/static/src/img/2016/accounting/accounting_screenshot_02.jpg" alt="">
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center-xs text-right">
                            <h5 class="mt96" style="margin-left: 45%;">管理账单和开支</h5>
                            <p style="margin-left: 48%;">控制供应商发票并对您未来需要支付的账单进行清晰预测。</p>
                            <h5 class="mt64" style="margin-left: 45%;">方便调节</h5>
                            <p class="mb96" style="margin-left: 48%;">通过我们的智能对账工具，节约时间并自动进行 95% 的对账。
                                <span class="s_panel_video" data-video-id="UZpZFlFp4gE">
                                                <a href="#" class="btn_video_play"><i class="fa fa-1x fa-fw fa-youtube-play"></i> 观看视频
                                                </a>
                                            </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-gray-lighter  o_overflow_hidden">
        <div class="container">
            <div class="row o_v_align_col_sm mt48 mb48">
                <div class="col-xs-12 col-sm-6">
                    <h2 class="display-3"><b>加快</b>付款速度</h2>
                    <h4 class="lead mb32 mt8">电子开具发票以及自动催款。</h4>
                    <p class="mt16">创建并发送专业<b>发票</b>并接收<b>在线付款</b>。</p>
                    <p>无需向债务人发送提醒。仅设置和自动跟踪 <b>便可加快回款时间</b>。</p>
                    <p><b>以销售订单、交货单或以时间和材料为基础，自动创建发票。</b></p>
                </div>
                <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                    <div class="row">
                        <div class="col-xs-4">
                            <span class="o_pic o_pic_responsive o_pic_mail"></span>
                        </div>
                        <div class="col-xs-4">
                            <span class="o_pic o_pic_responsive o_pic_pay"></span>
                        </div>
                        <div class="col-xs-4">
                            <span class="o_pic o_pic_responsive o_pic_coin"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="o_overflow_hidden">
        <div class="container">
            <div class="row o_v_align_col mt48">
                <div class="col-xs-12 col-sm-6">
                    <img class="img shadow img-responsive" src="//odoocdn.com/openerp_website/static/src/img/2016/accounting/accounting_screenshot_03.gif" alt="">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 ">
                    <h2 class="display-3"><b>美观的</b>动态报表</h2>
                    <h3 class="lead mb32 mt8">您的报告，您喜爱的方式。</h3>
                    <p class="mt32">轻松创建您的<b>收益报告</b>、<b>资产负债表</b> 或<b>现金流量表</b>。</p>
                    <p>快速筛选、放大、注释并对比任何数据。</p>
                    <p>利用商业智能立方体进行多方面报告。</p>
                </div>
            </div>
        </div>
    </section>






</div>