<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="description" content="">
<title>app下载 - B2B2C商城系统,电商系统，多用户商城系统,微商城</title>
<meta name="author" content="ShopNC">
<meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
<meta name="viewport" content="width=640,target-densitydpi=320, user-scalable=no">
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="HandheldFriendly" content="true">
<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<!-- Mobile Devices -->
<meta name="msapplication-TileColor" content="#00AEEB"/>
<!-- Windows 8 磁贴颜色 -->
<meta name="msapplication-TileImage" content="/Public/images/logo_ico.png"/>
<!-- Windows 8 磁贴图标 -->
<link rel="shortcut icon" href="images/favicon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/style.css" tppabs="http://www.shopnc.net/wap/css/style.css">
<script type="text/javascript" src="js/jquery-1.9.1.js" tppabs="http://www.shopnc.net/wap/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/yxMobileSlider.js" tppabs="http://www.shopnc.net/wap/js/yxMobileSlider.js"></script>

<!--引入菜单-->
<script type="text/javascript" src="js/menu.js" tppabs="http://www.shopnc.net/wap/js/menu.js"></script>
<script type="text/javascript">
$(function (){
  $(".nav-tab li").click(function (){
      var tabLiArr = $(this).parent().find("li");
      var tabShowArr = $(this).parents(".tabbar").nextAll(".child-tab-show");
      var index = $.inArray(this,tabLiArr);
      if($(tabShowArr).eq(index)){
        $(tabLiArr).removeClass("current").eq(index).addClass("current");
        $(tabShowArr).addClass("hide").eq(index).removeClass("hide");
      }
  })
  
})
</script>
<style>
.nav-tab {
	height: 50px;
}
.nav-tab ul { display:block;
}
.nav-tab ul li {
	float: left; width:50%;
}
.nav-tab ul li a {
	color: #000;
	padding: 10px 20px;
	background: #ffffff;
	font-size:25px;
	font-weight: bolder;
	float: left;
	text-decoration: none;
	height: 50px;line-height:50px;
}
.nav-tab ul li.current a {
	color: #fff;
	padding: 10px 20px;
	background:#ff7f00;
	background-image: none;
	height: 50px;line-height:50px;
}
.hide {
	display: none !important;
}
</style>
</head>

<body>
<input id="menustate" class="menustate" type="checkbox">
<nav id="ncnav">
</nav>
<div id="app-download">
  <div class="banner-bg">
    <h2>电商系统移动应用</h2>
    <h4>安卓手机客户端</h4>
  </div>
  <div class="app-con-tit">
    <p class="banner-info">Android版本 v4.1.1-应用大小11.96M适用于4.0以上-5.0以下系统。该应用中所有数据均为相关演示使用。</p>
  </div>
  <div class="app-con">
    <div class="nav-tab tabbar">
      <ul>
        <li class="current"><a href="javascript:void(0)">ShopNC B2B2C</a></li>
        <li><a href="javascript:void(0)">Java多用户商城系统</a></li>
      </ul>
    </div>
    
     <span class="qcode child-tab-show"><img src="image/ShopNC_PHP_android.png" tppabs="http://www.shopnc.net/wap/image/ShopNC_PHP_android.png"  width="100%" height="auto" alt="ShopNC电商系统移动应用,iPhone手机客户端,扫描二维码,下载iOS移动端体验版"/></span> 
          <span class="qcode child-tab-show hide"><img src="image/ShopNC_Java_android.png" tppabs="http://www.shopnc.net/wap/image/ShopNC_Java_android.png"  width="100%" height="auto" alt="ShopNC电商系统移动应用,安卓手机客户端,扫描二维码,下载JaVa版Android移动端体验版"/></span>
    <!-- <span class="qcode child-tab-show hide"><img src="image/ShopNC_Java_android.png"  width="100%" height="auto" alt="ShopNC电商系统移动应用,安卓手机客户端,扫描二维码,下载JaVa版Android移动端体验版" /></span>-->
    
    
    
    
    
  </div>
</div>

<!--<div class="nc-qrcode">

    <div class="qrcode-con">
    <div class="QRcode"><a href="#"><img alt="ShopNC方官网微信号码" src="image/shopnc_weixin.jpg"></a></div>
    <p>长按上方官网微信二维码<br>
       掌握最新官方系统动态</p>
     </div>
     </div>--> 
<script>
    $(".slider").yxMobileSlider({width: 640, height: 640, during: 3000});
</script>
<div class="bottom_nav" id="footer_menu"> </div>
</body>
</html>