<block name="content">
<div id="app-wrap">
    <div class="banner-bg">
        <h2 class="banner-title">全新触屏版商城</h2>
        
    </div>
    <div class="app-con">
        <div class="app-bg">
            <h2>移动电子商务</h2>
            <h4>移动通信与互联网之间的贯通是电子商务发展的潮流趋势。</h4>
            <img src="__WAP__/image/apppic1.png" ></div>
        <div class="app-bg02">
            <h2>全新设计 全新感受</h2>
            <h4>给用户带来更顺畅 更自然的操作体验，美观兼具实用。</h4>
            <img src="__WAP__/image/apppic2.png"  class="mb20"> <img src="__WAP__/image/apppic3.png"  class="mb50"></div>
        <div class="app-bg">
            <h2>分类展示更清晰</h2>
            <h4>品牌推荐与左右联动的商品分类更简洁直观。</h4>
            <img src="__WAP__/image/apppic4.png" ></div>
        <div class="app-bg02">
            <h2>商品介绍更全面</h2>
            <h4 style="margin-bottom:10px;">PC端商品详情页面内容WAP端也都逐一体现。</h4>
            <h4>促销、配送、评论、店铺，页内SKU选择购买如APP应用般流畅方便。</h4>
            <img src="__WAP__/image/apppic5.png"  class="mb20"> <img src="__WAP__/image/apppic6.png"  class="mb50"></div>
        <img src="__WAP__/image/apppic8.jpg"  class="mt15">
        <div class="app-bg">
            <h2>购物车结算更便捷</h2>
            <h4 style="margin-bottom:10px;">购物车可勾选筛选下单内容，增减购买数量。</h4>
            <h4>收货地址、发票、代金卡券、以及商城账户余额与在线支付灵活使用。</h4>
            <img src="__WAP__/image/apppic7.png" ></div>
        <div class="app-bg02">
            <h2>订单账户更安全</h2>
            <h4>用户账户安全设置，预存款充值卡金额一目了然。</h4>
            <img src="__WAP__/image/apppic8.png" ></div>
        <div class="app-bg mt15">
            <h2>在线咨询更及时</h2>
            <h4 style="margin-bottom:10px;">用户可以直接通过手机商城与店铺客服对话。</h4>
            <h4>触屏版在线聊天功能支持消息提示、发送表情、自动匹配商品信息等功能。</h4>
            <img src="__WAP__/image/apppic9.png"  class="mb20"> <img src="__WAP__/image/apppic10.png" ></div>
        <div class="floor_code" style="background-color:#f7f8fc; height:500px;">
            <div class="last_top">
                <p>成功电商之路从这里开始</p>
                <span>抢先体验APP</span></div>
          <!--  <ul>
                <li><img src="__WAP__/image/ios-php.jpg"><em>iOS客户端PHP版</em></li>
                <li><img src="__WAP__/image/ios-java.jpg"><em>iOS客户端Java版</em></li>
                <li style="margin-right:0;"><img src="__WAP__/image/wap_code.jpg"><em>WAP版手机商城</em></li>
            </ul>
            <ul style="padding-top:15px;">
                <li><img src="__WAP__/image/Android-php.jpg"><em>安卓客户端PHP版</em></li>
                <li><img src="__WAP__/image/Android-java.jpg"><em>安卓客户端Java版</em></li>
            </ul>-->
            <div class="last_bot"><a style=" background-color:#6fb012;" href="iOS-download.html" >苹果手机APP应用下载</a></div>
            <div class="last_bot"><a style=" background-color:#ff7f00;" href="android-download.html" >安卓手机APP应用下载</a></div>
            <div class="last_bot"><a style=" background-color:#3b9de6;" href="wap-download.html" >Wap版微信商城</a></div>
        </div>
    </div>
</div>
</block>
<block name="js">
</block>