<block name="content">
<div id="php-wrap">
    <div class="banner-bg">
        <h2>B2B2C多用户商城系统</h2>
    </div>
    <div class="php-con">
        <div class="php-bg02">
            <h4 class="mb50">流程功能及模块最完善的电商平台系统</h4>
            <img src="__WAP__/image/php-pic1.jpg"  class="mb20"></div>
        <div class="php-bg pd20 mb20">
            <h2>百种营销组合促进成单</h2>
            <h4>6大购物商城同步推广营销</h4>
            <h4 class="mb50">6合1零售商城系统让成单更简单</h4>
            <img src="__WAP__/image/php-pic2.jpg"  class="mb20"></div>
        <div class="php-bg02">
            <h2>强大的移动端配套系统</h2>
            <h4 style="margin-bottom:10px;">支持直播、点播、微视频等功能</h4>
            <h4>支持微信商城、H5商城等所有移动设备</h4>
            <img src="__WAP__/image/php-pic3.png"  class="mb20"></div>
        <div class="php-bg pd20 mb20" style="background-color:#f3f3f3;">
            <h2>一键分销商品链接</h2>
            <h4>可通过任何方式分享商品链接</h4>
            <h4>全民推广 全民分销 成交返佣</h4>
            <img src="__WAP__/image/php-pic3.jpg"  class="mb20"></div>
        <div class="php-bg02">
            <h2>Android&iOS APP-移动电子商务</h2>
            <h4 style="margin-bottom:10px;">强大的移动端与PC端同步</h4>
            <h4 style="margin-bottom:10px;">手机专享、拼团、签到等移动端特有功能</h4>
            <img src="__WAP__/image/php-pic4.jpg"  class="mb20"></div>
        <div class="floor_code" style="background-color:#f7f8fc;">
            <div class="last_top">
                <p>成功电商之路从这里开始</p>
                <span>抢先体验APP与微信商城</span>
            </div>
          <!--   <div class="last_bot"><a style=" background-color:#6fb012;" href="iOS-download.html" >苹果手机APP应用下载</a></div>
            <div class="last_bot"><a style=" background-color:#ff7f00;" href="android-download.html" >安卓手机APP应用下载</a></div> -->
            <div class="last_bot"><a style=" background-color:#3b9de6;" href="wap-download.html" >Wap版微信商城</a></div>
        </div>
    </div>
</div>
</block>
<block name="js">
</block>