<block name="content">
<div id="java-wrap">
    <div class="banner-bg">
 
        <h2>Java多用户商城系统</h2>
       <!-- <h4 class="banner-info"> Java语言电商系统版</h4>-->
        
    </div>

    <div class="java-con">

        <div class="java-tit" style="padding-top:0;">
            <p>当前国内最先进、高效、稳定的电商系统</p>
        </div>

        <div class="java-titbg">
            <h2>技术架构</h2>
        </div>
        <img src="__WAP__/image/Javapic01.jpg"  alt="">
        <div class="java-titbg" style="padding-bottom:0px;">
            <h2>全面兼容</h2>
            <h4>响应式布局全面兼容手机、平板、PC等智能设备</h4>
            <img src="__WAP__/image/Javapic02.jpg"  alt="" style=" overflow:hidden;">
        </div>
       <div class="java-titbg" style="padding-bottom:0px;">
            <h2>商业模式</h2>
            <h4 class="mb20">模块开发 定制扩展</h4>
            <img src="__WAP__/image/Javapic04.jpg"  alt="" style=" overflow:hidden;">
        </div>

        <div class="java-titbg" style="padding-bottom:0px;">
            <h2>销售模式</h2>
            <h4>批发零售 一键切换</h4>
            <img src="__WAP__/image/Javapic03.jpg"  alt="" style=" overflow:hidden;">
        </div>

    

        <div class="java-titbg">
            <h2>促销模式</h2>
            <h4 style="border:2px solid #fff; padding:10px; margin:10px auto 20px; display:block; width:250px;">促销组合
                销量为王</h4>
            <img src="__WAP__/image/Javapic05.jpg"  alt="" style=" overflow:hidden;">
        </div>


        <div class="java-titbg02">
            <h2>供求模块</h2>
            <h4 class="mb20">采购 求购 招标等大宗交易供求模块</h4>
            <img src="__WAP__/image/Javapic06.jpg"  alt="" style=" overflow:hidden;">
        </div>
        <div class="floor_code">
            <div class="last_top">
                <p>成功电商之路从这里开始</p>
                <span>抢先体验APP与微信商城</span>
            </div>
         <!--   <ul>

                <li><img src="__WAP__/image/wap_code.jpg"><em>WAP版手机商城</em></li>
                <li><img src="__WAP__/image/Android-java.jpg"><em>Java商城下载<br>（安卓）</em></li>
                <li style="margin-right:0;"><img src="__WAP__/image/ios-java.jpg"><em>Java商城下载<br>（ios）</em></li>
            </ul>
            <div class="last_bot">
                <a href="http://java.shopnctest.com/wap/">立即免费体验</a>
                <!--<em>咨询热线：4006-089-731</em>-->
            <div class="last_bot"><a style=" background-color:#6fb012;" href="iOS-download.html" >苹果手机APP应用下载</a></div>
            <div class="last_bot"><a style=" background-color:#ff7f00;" href="android-download.html" >安卓手机APP应用下载</a></div>
            <div class="last_bot"><a style=" background-color:#3b9de6;" href="wap-download.html" >Wap版微信商城</a></div>
            </div>
        </div>

    </div>


</div>
</block>