<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>汽车行业电商解决方案-ShopNC</title>
    <meta name="author" content="ShopNC">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="viewport" content="width=640,target-densitydpi=320, user-scalable=no">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- wcarows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#00AEEB"/>
    <!-- Wcarows 8 磁贴颜色 -->
    <meta name="msapplication-TileImage" content="/Public/images/logo_ico.png"/>
    <!-- Wcarows 8 磁贴图标 -->
    <link rel="shortcut icon" href="images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" tppabs="http://www.shopnc.net/wap/css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js" tppabs="http://www.shopnc.net/wap/js/jquery-1.9.1.js"></script>
    <!--引入菜单-->
    <script type="text/javascript" src="js/menu.js" tppabs="http://www.shopnc.net/wap/js/menu.js"></script>
</head>
<body>
<input id="menustate" class="menustate" type="checkbox">
<nav id="ncnav">
</nav>
<div class="car-wrap">
    <div class="banner-bg">
        <div class="banner-title">汽车行业</br>解决方案</div>
        <div><a href="javascript:$(document.body).animate({'scrollTop':630},1000);" class="down-btn"></a></div>
    </div>
    <div class="car-con">
        <div class="car-tit">
            <h2>概述<span>Summary</span></h2>
            <p class="info justify">
                汽车行业电商平台，以大数据为基础，以客户的汽车生活为核心，通过数据挖掘、信息交互、需求对接等手段，打造成全渠道、社会化的汽车集成服务平台。实现新车销售、二手置换、汽车用品、汽车服务、汽车金融、汽车周边服务、汽车社区等业务B2B2C+O2O模式的综合汽车业务解决方案。</p>
            <div class="downbtn"></div>
        </div>
        <!--   -->
        <div class="car-tit pb10" style="text-align:center;">
            <h2>汽车行业电商平台运营模式</h2>
            <p class="info justify" style="padding-bottom:30px; ">
                根据客户和消费者的需求与企业经营范围，从购车开始提供一系列的配套服务，将线上线下信息贯通，方便客户的同时让企业也收益颇丰。</p>
        </div>
        <img alt="" src="image/carpic1.jpg" tppabs="http://www.shopnc.net/wap/image/carpic1.jpg">
        <div class="car-tit02 pb10" style="text-align:center;">
            <h2>汽车行业互联网销售模式</h2>
            <p class="info justify" style="padding-bottom:30px; ">
                超过七成的意向购车者表示“快捷，减少不必要的流程”（77%）和“价格更加优惠”（75%）是他们乐意使用在线购车的主要原因。
                但是，担心实物与宣传不符（74%）、担忧网购出现问题时维权困难（60%）、缺乏试乘试驾体验（51%）以及担心网购大额支付的安全（50%）。 </p>
        </div>
        <div class="car-tit03" style="text-align:center;"><img alt="" src="image/carpic.png" tppabs="http://www.shopnc.net/wap/image/carpic.png"></div>
        <img alt="" src="image/carpic2.jpg" tppabs="http://www.shopnc.net/wap/image/carpic2.jpg">


    </div>
</div>
</div>
<div class="footer" id="footer">
</div>
<div class="bottom_nav" id="footer_menu">

</div>
</body>
</html>