<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>跨境电商解决方案-ShopNC</title>
    <meta name="author" content="ShopNC">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="viewport" content="width=640,target-densitydpi=320, user-scalable=no">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- wcbesows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#00AEEB"/>
    <!-- Wcbesows 8 磁贴颜色 -->
    <meta name="msapplication-TileImage" content="/Public/images/logo_ico.png"/>
    <!-- Wcbesows 8 磁贴图标 -->
    <link rel="shortcut icon" href="images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" tppabs="http://www.shopnc.net/wap/css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js" tppabs="http://www.shopnc.net/wap/js/jquery-1.9.1.js"></script>
    <!--引入菜单-->
    <script type="text/javascript" src="js/menu.js" tppabs="http://www.shopnc.net/wap/js/menu.js"></script>
</head>

<body>
<input id="menustate" class="menustate" type="checkbox">
<nav id="ncnav">
</nav>
<div class="cbes-wrap">
    <div class="banner-bg">
        <div class="banner-title">跨境电商</br>解决方案</div>
        <div><a href="javascript:$(document.body).animate({'scrollTop':630},1000);" class="down-btn"></a></div>
    </div>
    <div class="cbes-con">
        <div class="cbes-tit">
            <h2>概述<span>Summary</span></h2>
            <p class="info justify">
                跨境电商打破了传统外贸模式下国外渠道如：进口商、批发商、分销商甚至零售商的垄断，使得企业可以直接面对个体批发商、零售商，甚至是直接的消费者，有效减少了贸易中间环节和商品流转成本，节省的中间环节成本为企业获利能力提升及消费者获得实惠提供了可能。</p>
        
        </div>
        <img alt="" src="image/cbes-pic2.jpg" tppabs="http://www.shopnc.net/wap/image/cbes-pic2.jpg">
        <div class="cbes-tit pb10" style="text-align:center;">
            <h2>跨境电商与传统外贸的区别</h2>

        </div>
        <img alt="" src="image/cbes-pic1.jpg" tppabs="http://www.shopnc.net/wap/image/cbes-pic1.jpg" class="mb50">
        <div class="cbes-tit02 pb10" style="text-align:center;">
            <h2>跨境电商基础流程</h2>
            <p class="info justify" style="padding-bottom:30px; ">
                我国跨境电子商务主要分为企业对企业（即B2B）和企业对消费者（即B2C）的贸易模式。B2B模式下，企业运用电子商务以广告和信息发布为主，成交和通关流程基本在线下完成，本质上仍属传统贸易，已纳入海关一般贸易统计。B2C模式下，我国企业直接面对国外消费者，以销售个人消费品为主，物流方面主要采用航空小包、邮寄、快递等方式，其报关主体是邮政或快递公司，目前大多未纳入海关登记。</p>
        </div>


        <div class="cbes-tit03">

            <div class="cbes-list01">
                <h2 class="cbes-lt01">全流程跨境在线交易</h2>
                <span class="pro-des">
		            条完整的外贸电商体系;<br>
					信息时代-交易时代；<br>
					信息流-三流合一；<br>
					从营销到交易，从支付到物流。<br>
					
					
				</span>

            </div>


            <div class="cbes-list02">
                <h2 class="cbes-lt02">多平台多语言跨境交易平台</h2>
                <span class="pro-des">
		            移动、大数据、多语言平台；<br>
					跨国电子商务交易体系。<br>
				 </span>

            </div>


            <div class="cbes-list03">
                <h2 class="cbes-lt03">降低成本，打造便捷跨境物流</h2>
                <span class="pro-des">
		             整合贸易代理；<br>
					 降低跨境物流成本；<br>
                     降低增值服务风险。<br>
				 </span>

            </div>


            <div class="cbes-list04">
                <h2 class="cbes-lt04">系统对接</h2>
                <span class="pro-des">
		            实现系统与国外支付集成。
					
				 </span>

            </div>

            <div class="cbes-list05">
                <h2 class="cbes-lt05">多端一体化</h2>
                <span class="pro-des">
		            支持PC端、微信、移动端。
					
				 </span>

            </div>


        </div>


    </div>
</div>
</div>
<div class="footer" id="footer">
</div>
<div class="bottom_nav" id="footer_menu">

</div>
</body>
</html>