<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>宣汉7yun</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="HandheldFriendly" content="true">
<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="#ff0084">
<meta name="apple-mobile-web-app-title" content="宣汉7yun">
<meta name="HandheldFriendly" content="true">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<!-- Mobile Devices -->
<meta name="msapplication-TileColor" content="#00AEEB"/>
<!-- Windows 8 磁贴颜色 -->
<meta name="msapplication-TileImage" content="/Public/images/logo_ico.png"/>
<!-- Windows 8 磁贴图标 -->
<!-- 启用360浏览器的极速模式(webkit) -->
<meta name="renderer" content="webkit">
<meta name="author" content="宣汉7yun">
<meta name="robots" content="all"/>
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link rel="shortcut icon" href="images/favicon.png">
<!-- Mobile Devices -->
<link rel="stylesheet" type="text/css" href="css/distribution.css" tppabs="http://www.宣汉7yun.net/wap/css/distribution.css"/>
<link rel="stylesheet" type="text/css" href="css/animations.css" tppabs="http://www.宣汉7yun.net/wap/css/animations.css"/>
<link rel="stylesheet" type="text/css" href="css/load_distribution.css" tppabs="http://www.宣汉7yun.net/wap/css/load_distribution.css"/>
</head>
<body>
<div id="loading">
	<div class="spinner">
		<div class="double-bounce1">
		</div>
		<div class="double-bounce2">
		</div>
	</div>
</div>
<div id="content" style="display:none">
	<div class="page page-1-1 page-current">
    	<div class="wrap">
        	<img class="img_0 pt-page-moveCircle" src="images/fenxiao-box-03.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-03.png"/>
            <div class="text">
            	<h1 class="pt-page-moveFromLeft">宣汉7yun分销模块</h1>
                <h3 class="pt-page-moveFromRight">借助分销系统实现全渠道的商品分销</h3>
            </div>
			<img class="img_1 pt-page-moveFromLeft" src="images/fenxiao-01.jpg" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-01.jpg"/>
            <img class="img_2 pt-page-moveFromRight" src="images/fenxiao-02.jpg" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-02.jpg"/>
            <img class="img_3 pt-page-moveFromLeft" src="images/fenxiao-03.jpg" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-03.jpg"/>
            <img class="img_4 pt-page-moveFromRight" src="images/fenxiao-04.jpg" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-04.jpg"/>
			<img class="img_6 pt-page-moveIconUp" src="images/icon_up2.png" tppabs="http://www.宣汉7yun.net/wap/images/icon_up2.png"/>
		</div>
	</div>
	<div class="page page-2-1 hide">
		<div class="wrap">
        	<div class="text">
            	<h1 class="pt-page-moveFromLeft">更多人参与的分销</h1>
                <h3 class="pt-page-moveFromRight">通过人与人之间的六维关系进行的商品分销</h3>
            </div>
			<img class="img_1 hide pt-page-moveCircle" src="images/fenxiao-box-01.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-01.png"/>
			<img class="img_3 hide pt-page-moveIconUp" src="images/icon_up2.png" tppabs="http://www.宣汉7yun.net/wap/images/icon_up2.png"/>
		</div>
	</div>
	<div class="page page-3-1 hide">
		<div class="wrap">
        	<img class="img_3 hide pt-page-moveCircle" src="images/fenxiao-box-08.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-08.png"/>
        	<img class="img_1 hide pt-page-moveCircle" src="images/fenxiao-box-06.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-06.png"/>
            <img class="img_2 hide pt-page-moveFromBottom" src="images/fenxiao-box-05.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-05.png"/>
			<img class="img_6 hide pt-page-moveIconUp" src="images/icon_up2.png" tppabs="http://www.宣汉7yun.net/wap/images/icon_up2.png"/>
		</div>
	</div>
	<div class="page page-4-1 hide">
		<div class="wrap">
        	<img class="img_3 hide pt-page-moveCircle" src="images/fenxiao-box-09.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-09.png"/>
            <div class="text">
            	<h1 class="pt-page-moveFromLeft">全渠道分销系统</h1>
                <h3 class="pt-page-moveFromRight">通过不同商家平台实现全渠道商品分销</h3>
            </div>
			<img class="img_6 hide pt-page-moveIconUp" src="images/icon_up2.png" tppabs="http://www.宣汉7yun.net/wap/images/icon_up2.png"/>
		</div>
	</div>
    <div class="page page-5-1 hide">
		<div class="wrap">
        	<img class="img_1 hide pt-page-moveCircle" src="images/fenxiao-box-12.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-12.png"/>
            <img class="img_2 hide pt-page-moveFromTop" src="images/fenxiao-box-11.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-11.png"/>
            <img class="img_3 hide pt-page-moveFromBottom" src="images/fenxiao-box-10.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-10.png"/>
			<img class="img_6 hide pt-page-moveIconUp" src="images/icon_up2.png" tppabs="http://www.宣汉7yun.net/wap/images/icon_up2.png"/>
		</div>
	</div>
    <div class="page page-6-1 hide">
		<div class="wrap">
        	<div class="text">
            	<h1 class="pt-page-moveFromLeft">分销佣金结算系统</h1>
                <h3 class="pt-page-moveFromRight">分销的商品越多，获得的佣金就丰厚</h3>
            </div>
			<img class="img_1 hide pt-page-moveFromTop" src="images/fenxiao-box-14.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-14.png"/>
            <img class="img_2 hide pt-page-moveFromBottom" src="images/fenxiao-box-15.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-15.png"/>
			<img class="img_6 hide pt-page-moveIconUp" src="images/icon_up2.png" tppabs="http://www.宣汉7yun.net/wap/images/icon_up2.png"/>
		</div>
	</div>
    <div class="page page-7-1 hide">
		<div class="wrap">
        	<div class="text">
            	<h1 class="pt-page-moveFromLeft">PC端和移动端互通</h1>
                <h3 class="pt-page-moveFromRight">统一后台管理，数据实现同步化传递</h3>
            </div>
			<img class="img_1 hide pt-page-moveCircle" src="images/fenxiao-box-13.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-13.png"/>
			<img class="img_6 hide pt-page-moveIconUp" src="images/icon_up2.png" tppabs="http://www.宣汉7yun.net/wap/images/icon_up2.png"/>
		</div>
	</div>
    <div class="page page-8-1 hide">
		<div class="wrap">
			<div class="text">
            	<h1 class="pt-page-moveFromLeft">宣汉7yun分销模块</h1>
                <h3 class="pt-page-moveFromRight">借助分销系统实现全渠道的商品分销</h3>
            </div>
            <img class="img_1 hide pt-page-moveFromLeft" src="images/fenxiao-box-16.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-16.png"/>
            <img class="img_2 hide pt-page-moveFromRight" src="images/fenxiao-box-17.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-17.png"/>
            <img class="img_3 hide pt-page-moveFromLeft" src="images/fenxiao-box-18.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-18.png"/>
            <img class="img_4 hide pt-page-moveFromRight" src="images/fenxiao-box-19.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-19.png"/>
			<img class="img_6 hide pt-page-moveIconUp" src="images/icon_up2.png" tppabs="http://www.宣汉7yun.net/wap/images/icon_up2.png"/>
		</div>
	</div>
    <div class="page page-9-1 hide">
		<div class="wrap">
        	<div class="text">
            	<h1 class="pt-page-moveFromLeft">宣汉7yun分销模块</h1>
                <h3 class="pt-page-moveFromRight">借助分销系统实现全渠道的商品分销</h3>
            </div>
        	<img class="img_1 hide pt-page-moveFromTop" src="images/fenxiao-box-20.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-20.png"/>
            <img class="img_2 hide pt-page-moveFromTop" src="images/fenxiao-box-21.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-21.png"/>
            <img class="img_3 hide pt-page-moveFromBottom" src="images/fenxiao-box-22.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-22.png"/>
            <img class="img_4 hide pt-page-moveFromBottom" src="images/fenxiao-box-23.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-23.png"/>
			<img class="img_6 hide pt-page-moveIconUp" src="images/icon_up2.png" tppabs="http://www.宣汉7yun.net/wap/images/icon_up2.png"/>
		</div>
	</div>
	<div class="page page-10-1 hide">
		<div class="wrap">
			<img class="img_1 hide pt-page-moveCircle" src="images/宣汉7yun_weixin.jpg" tppabs="http://www.宣汉7yun.net/wap/images/宣汉7yun_weixin.jpg"/>
            <h1>关注宣汉7yun官方微信号</h1>
			<a href="apply.html" tppabs="http://www.宣汉7yun.net/wap/apply.html" target="_blank" class="inline-block"><img class="img_3 hide pt-page-moveFromBottom" src="images/fenxiao-box-07.png" tppabs="http://www.宣汉7yun.net/wap/images/fenxiao-box-07.png"/></a>
		</div>
	</div>
</div>
<script src="js/zepto.min.js" tppabs="http://www.宣汉7yun.net/wap/js/zepto.min.js"></script>
<script src="js/touch.js" tppabs="http://www.宣汉7yun.net/wap/js/touch.js"></script>
<script src="js/distribution.js" tppabs="http://www.宣汉7yun.net/wap/js/distribution.js"></script>
<script type="text/javascript">
		document.onreadystatechange = loading; 
		function loading(){
			if(document.readyState == "complete")
			{ 
				$("#loading").hide();
				$("#content").show();
				playbksound();
			}
		}
</script>
</body>
</html>