<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>综合百货行业电商解决方案-ShopNC</title>
    <meta name="author" content="ShopNC">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="viewport" content="width=640,target-densitydpi=320, user-scalable=no">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- wgeneralows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#00AEEB"/>
    <!-- Wgeneralows 8 磁贴颜色 -->
    <meta name="msapplication-TileImage" content="/Public/images/logo_ico.png"/>
    <!-- Wgeneralows 8 磁贴图标 -->
    <link rel="shortcut icon" href="images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" tppabs="http://www.shopnc.net/wap/css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js" tppabs="http://www.shopnc.net/wap/js/jquery-1.9.1.js"></script>
    <!--引入菜单-->
    <script type="text/javascript" src="js/menu.js" tppabs="http://www.shopnc.net/wap/js/menu.js"></script>
</head>
<body>
<input id="menustate" class="menustate" type="checkbox">
<nav id="ncnav">
</nav>
<div class="general-wrap">
    <div class="banner-bg">
        <div class="banner-title">综合百货</br>
            解决方案
        </div>
          <div><a href="javascript:$(document.body).animate({'scrollTop':630},1000);" class="down-btn"></a></div>
    </div>
    <div class="general-con">
        <div class="general-tit">
            <h2>概述<span>Summary</span></h2>
            <p class="info justify">以减少交易成本和增强品牌效应，扩大销售渠道为目标，通过电商系统搭建快捷、便利的购物平台。</p>
            <div class="downbtn"></div>
        </div>
        <img alt="" src="image/carpic2.png" tppabs="http://www.shopnc.net/wap/image/carpic2.png" class="mt15 mb20">


        <div class="general-tit pb10" style="text-align:center;">
            <h2 style=" border-bottom:none;">中国消费者综合百货类商城购买商品比例</h2>

        </div>
        <img alt="" src="image/general1.jpg" tppabs="http://www.shopnc.net/wap/image/general1.jpg">

        <div class="general-tit pb10" style="text-align:center;">
            <h2>行业性、品牌性的佣金设置</h2>

        </div>

        <img alt="" src="image/general2.jpg" tppabs="http://www.shopnc.net/wap/image/general2.jpg">

        <div class="general-tit pb10" style="text-align:center;">
            <h2>自营店铺与三方入驻</h2>

        </div>

        <img alt="" src="image/general3.jpg" tppabs="http://www.shopnc.net/wap/image/general3.jpg">

        <div class="general-tit02 pb10" style="text-align:center;">
            <h2>各功能模块及相互关系</h2>
            <p class="info justify" style="padding-bottom:30px;">针对综合百货的行业特征，在搭建满足其需求的电商平台过程中，应具备以下功能及模块组合，形成完整的运营体系。</p>

        </div>
        <div class="car-tit03 mb50" style="text-align:center;"><img alt="" src="image/general.png" tppabs="http://www.shopnc.net/wap/image/general.png"></div>


    </div>
</div>
</div>
<div class="footer" id="footer">
</div>
<div class="bottom_nav" id="footer_menu">

</div>
</body>
</html>