<block name="content">
<div class="banner">
  <div style="width: 640px; height: 640px; position: relative; overflow: hidden; margin: 0px auto;" class="slider">
    <ul style="position: absolute; left: -2560px; width: 3840px;">
      <volist name="banner" id="vo">
      <li><a><img src="/{:get_image_path($vo['picture'])}"  alt="ShopNC" alt="" width="100%"></a></li>
      </volist>
    </ul>
    <div style="min-height: 0px; position: absolute; bottom: 0px; width: 640px; height: 64px; z-index: 2;"class="focus">
    <div>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    <span class="current" style="display: inline-block; cursor: pointer;"></span>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    </div>
    </div>
  </div>
</div>
<script>
    $(".slider").yxMobileSlider({width: 640, height: 304, during: 5000});
</script>
<div class="product">
  <ul>
    <li class="C2C">
      <p>CRM</p>
      真实客户为中心的CRM <a href="{:U('crm')}" >进一步了解 &gt;</a> </li>
    <li class="B2B">
      <p>销售模块</p>
      业务流程一体及促进订单成交<a href="{:U('sales')}" >进一步了解 &gt;</a> </li>
    <li class="O2O">
      <p>仓库模块</p>
      现代化在线仓库，实现效率最大化 <a href="{:U('warehouse')}" >进一步了解 &gt;</a> </li>
    <li class="C2C">
      <p>采购模块</p>
      改善您的供业链和库存绩效 <a href="{:U('purchase')}" >进一步了解 &gt;</a> </li>
    <li class="C2C">
      <p>财务模块</p>
      用更少的时间，做更多的事情<a href="{:U('account')}" >进一步了解 &gt;</a> </li>
  </ul>
</div>
</block>
<block name="js">

</block>