<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>医药电商解决方案-ShopNC</title>
    <meta name="author" content="ShopNC">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="viewport" content="width=640,target-densitydpi=320, user-scalable=no">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- windows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#00AEEB"/>
    <!-- Windows 8 磁贴颜色 -->
    <meta name="msapplication-TileImage" content="/Public/images/logo_ico.png"/>
    <!-- Windows 8 磁贴图标 -->
    <link rel="shortcut icon" href="images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" tppabs="http://www.shopnc.net/wap/css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js" tppabs="http://www.shopnc.net/wap/js/jquery-1.9.1.js"></script>

    <!--引入菜单-->
    <script type="text/javascript" src="js/menu.js" tppabs="http://www.shopnc.net/wap/js/menu.js"></script>
</head>
<body>
<input id="menustate" class="menustate" type="checkbox">
<nav id="ncnav">
</nav>
<div class="solution-wrap">
    <div class="banner-bg">
        <div class="banner-title">医药电商</br>解决方案</div>
 <div><a href="javascript:$(document.body).animate({'scrollTop':630},1000);" class="down-btn"></a></div>

    </div>
    <div class="solution-con">
        <div class="solution-tit">
            <h2>概述</h2>
            <h4>Summary</h4>

            <p class="info justify">医药电商(Medicine
                E-commerce)：指医疗机构、医药生产商、代理商、经销商、分销商、医药公司、医药信息提供商、第三方机构等以盈利为目的，以互联网及移动互联网为基础所进行药品保健品、器械等商品交易但不包括医疗咨询等服务的各种商务活动；包括B2B电子商务和B2C电子商务，不包括C2C，即以医疗和医药相关商品为核心的线上批发和零售。</p>
         
        </div>

        <div class="solution-tit pb10" style="text-align:center;">
            <h2>医药企业生态链布局</h2>
            <p class="info justify" style="border-bottom:1px solid #e7e7e7; padding-bottom:30px; ">
                医药电商参与者数量逐步增长，且融资主要集中在早期，随着政策的逐步放开，医药电商进入发展快车道，主流医药企业持续完善生态链布局。</p>
        </div>

        <img alt="" src="image/Solpic1.jpg" tppabs="http://www.shopnc.net/wap/image/Solpic1.jpg">

        <div class="solution-tit pb10" style="text-align:center;">
            <h2>医药电商经营资质</h2>
            <p class="info justify" style="border-bottom:1px solid #e7e7e7; padding-bottom:30px; ">
                根据国家食品药品监督管理总局规定，中国医药电商牌照分为三种：第三方交易服务平台（A证）、与其他企业进行药品交易（B证）、向个人消费者提供药品（C证）。在牌照审核中，除资质、基础场所、设施、设备等必要条件外，对不同企业类型另有要求，例如，服务企业需具有计算机专业技术人员、B2B需设立管理机构、自营式B2C需依法设立药品连锁零售企业、平台式B2C需取得互联网增值电信业务经营许可证等条件。</p>
        </div>

        <div class="med-tit01 pb10">
            <div class="medtit">
                <div class="circle"><span>1</span></div>
                <div class="circle-tit">平台式B2C（A证）</div>
            </div>
            <p class="info justify">申请互联网医药牌照的第三方交易服务平台。</p>

        </div>

        <div class="med-tit01 pb10">
            <div class="medtit">
                <div class="circle" style="background-color:#3b9de6;"><span>2</span></div>
                <div class="circle-tit">B2B（A证）</div>
            </div>
            <p class="info justify">通过自身网站与本本企成员之外的其它企业进行互联网药品交易的药品生产企业和药品批发企业。</p>

        </div>


        <div class="med-tit01 pb10">
            <div class="medtit">
                <div class="circle" style="background-color:#80d0d1;"><span>3</span></div>
                <div class="circle-tit">自营式B2C（C证）</div>
            </div>
            <p class="info">向个人消费者提供互联网药品交易服务的企业。</p>

        </div>
        <div class="solution-tit pb10" style="text-align:center;">
            <h2>医药电商运营模式</h2>

        </div>
        <img alt="" src="image/Solpic2.jpg" tppabs="http://www.shopnc.net/wap/image/Solpic2.jpg">
        <div class="solution-tit pb10" style="text-align:center;">
            <h2>医药电商类型划分</h2>
            <p class="info justify" style="border-bottom:1px solid #e7e7e7; padding-bottom:30px; ">
                医药电商按照功能主要分为医疗与医药两个模块，医疗模块主要为在线问诊、在线挂号、线上诊疗、在线支付、慢性病管理等。医药主要有B2B和B2B2C两种运营模式，其中B2B主要分为政府主导的B2B采购平台和药企B2B，如药企与医院、门店相互进行的处方类药物交易平台。和以自营+入驻的B2B2C模式，可面向个人消费者进行销售。</p>
        </div>

        <img alt="" src="image/Solpic3.jpg" tppabs="http://www.shopnc.net/wap/image/Solpic3.jpg" class="mb20">
    </div>
</div>


</div>
<div class="footer" id="footer">
</div>
<div class="bottom_nav" id="footer_menu">

</div>

</body>
</html>