<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>O2O电商解决方案-ShopNC</title>
    <meta name="author" content="ShopNC">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    <meta name="viewport" content="width=640,target-densitydpi=320, user-scalable=no">
    <meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
    <meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
    <meta content="no-cache" http-equiv="pragma">
    <meta content="0" http-equiv="expires">
    <meta content="telephone=no, address=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
    <!-- uc强制竖屏 -->
    <meta name="screen-orientation" content="portrait">
    <!-- QQ强制竖屏 -->
    <meta name="x5-orientation" content="portrait">
    <!-- UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <!-- QQ强制全屏 -->
    <meta name="x5-fullscreen" content="true">
    <!-- UC应用模式 -->
    <meta name="browsermode" content="application">
    <!-- QQ应用模式 -->
    <meta name="x5-page-mode" content="app">
    <!-- wO2Oows phone 点击无高光 -->
    <meta name="msapplication-tap-highlight" content="no">
    <!-- 适应移动端end -->
    <!-- apple devices fullscreen -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <!-- Mobile Devices -->
    <meta name="msapplication-TileColor" content="#00AEEB"/>
    <!-- WO2Oows 8 磁贴颜色 -->
    <meta name="msapplication-TileImage" content="/Public/images/logo_ico.png"/>
    <!-- WO2Oows 8 磁贴图标 -->
    <link rel="shortcut icon" href="images/favicon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/style.css" tppabs="http://www.shopnc.net/wap/css/style.css">
    <script type="text/javascript" src="js/jquery-1.9.1.js" tppabs="http://www.shopnc.net/wap/js/jquery-1.9.1.js"></script>

    <!--引入菜单-->
    <script type="text/javascript" src="js/menu.js" tppabs="http://www.shopnc.net/wap/js/menu.js"></script>
</head>
<body>
<input id="menustate" class="menustate" type="checkbox">
<nav id="ncnav">
</nav>
<div class="O2O-wrap">
    <div class="banner-bg">
        <div class="banner-title">社区O2O</br>解决方案</div>
         <div><a href="javascript:$(document.body).animate({'scrollTop':630},1000);" class="down-btn"></a></div>
    </div>
    <div class="O2O-con">
        <div class="O2O-tit">
            <h2>概述<span>Summary</span></h2>
            <p class="info justify">
                移动互联网、物联网等新一代信息通信技术的出现和普及应用让O2O电商这一新兴的商业模式迅速落地并在近几年快速发展。社区O2O电商，对移动互联网、物联网、大数据处理以及云服务等核心技术也在助推众多传统企业（本地社区服务企业、物业公司）和互联网企业加速融合线上渠道和线下服务。</p>
           
        </div>

        <div class="O2O-tit pb10" style="text-align:center;">
            <h2>多屏互动 功能齐全</h2>

        </div>
        <img alt="" src="image/O2Opic1.jpg" tppabs="http://www.shopnc.net/wap/image/O2Opic1.jpg" class="mb50">
        <div class="O2O-tit02 pb10" style="text-align:center;">
            <h2>轻松打造一体化的社区O2O</h2>
            <p class="info justify" style="padding-bottom:30px; ">
                基于LBS定位，涵盖商城、上门服务、外卖订餐、团购、积分商城、优惠券、红包等功能助您打造一站式本地化O2O综合生活服务平台的应用软件系统。</p>
        </div>

        <img alt="" src="image/O2Opic2.jpg" tppabs="http://www.shopnc.net/wap/image/O2Opic2.jpg">

        <img alt="" src="image/O2Opic3.jpg" tppabs="http://www.shopnc.net/wap/image/O2Opic3.jpg" class="mb20">

        <div class="O2O-tit03 pb10">
            <h2>
                O2O电商平台核心功能</h2>

            <p class="info justify" style="padding-bottom:30px; ">线上线下完美结合，聚集消费群体，直观的营销效果及追踪评估，带来更多的商家。</p>
        </div>
        <img alt="" src="image/O2Opic5.jpg" tppabs="http://www.shopnc.net/wap/image/O2Opic5.jpg">


    </div>
</div>
</div>
<div class="footer" id="footer">
</div>
<div class="bottom_nav" id="footer_menu">
</div>
</body>
</html>