<link rel="stylesheet" href="__STATIC__/css/web.assets_frontend.2.css">
<style>
    .o-icon.text-gamma {
        border: 1px solid #333;
        border-color: inherit;
        font-size: 2em;
        border-radius: 40px;
    }
    .o_v_align_col {
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
    }
    .o_v_align_col > * {
        -ms-flex: 0 0 auto;
        -moz-flex: 0 0 auto;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 100%;
    }
    .mt0 {
        margin-top: 40px !important;
    }
</style>
<div id="wrap" class="oe_structure">

    <section class="s_responsive_to_image_block js_top_banner bg-white" style="padding-bottom: 44%; background-image: url(https://www.odoo.com/openerp_website/static/src/img/2016/purchase/purchase_top_banner.jpg); background-position: right bottom; background-size: auto 100%; opacity: 1;">
        <div class="wrapper">
            <div class="container">
                <div class="row o_v_align_col">
                    <div class="col-xs-12 col-sm-6 col-md-7 mt8 mb96">
                        <h1 class="display-2 mb16 mt0">轻松管理<b>供应商</b> <br>和<b>采购订单</b></h1>
                        <h4 class="mb0 fw_light">改善您的供应链<br class="visible-sm">和库存绩效</h4>
                        <a href="http://yanshi.youbaninfo.com/web/login" class="mt32 mb8 btn btn-primary o_btn_cta" style="position: relative; overflow: hidden;">免费开始</a>

                        <div class="o_schedule_demo text-center ">










                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="o_offset_top_medium">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="s_browser shadow mt80 mb80">
                        <img class="bar" src="//odoocdn.com/openerp_website/static/src/img/2016/components/browser.png" alt="">
                        <div class="content">
                            <img class="img-responsive" src="//odoocdn.com/openerp_website/static/src/img/2016/purchase/purchase_screenshot_01.gif" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row mt48">
                <div class="col-sm-6 col-lg-5 mt48">
                    <h2 class="display-3 mt0 mb8"><b>自动化</b>采购流程</h2>
                    <h5 class="mb32">通过设置规则，根据您的库存水平自动向供应商发送报价请求，从而节省时间。</h5>
                    <p class="mb48">根据库存水平、物流规则、销售订单、预测生产订单等制定采购规则，改善您的采购和库存绩效。根据您的生产和交货策略，为每种产品选择不同的补货方法。</p>
                    <div class="s_testimonial text-heading font-heading">
                        <div class="thumb">
                            <img src="//odoocdn.com/openerp_website/static/src/img/ref/exki.gif" alt="展览标识" class="img-responsive">
                        </div>
                        <blockquote>
                            <p>“利用 Odoo Purchase 工具，我们每天承接1,000份订单，为70家餐厅供应产品。”</p>
                            <p><small>B. Dehertog，IT 项目经理</small></p>
                        </blockquote>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-5 col-lg-offset-2 mt48">
                    <img src="//odoocdn.com/openerp_website/static/src/img/2016/inventory/inventory_screenshot_02.gif" class="img img-responsive shadow" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white text-center">
        <div class="container">
            <div class="row mt92 mb92">
                <div class="col-sm-12">
                    <h2 class="display-4 mt0 mb8">供应商<b>价目表</b>和产品<b>库存</b></h2>
                    <h5 class="mb32">根据最优价格做出明智的采购决定。</h5>
                </div>
                <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <p class="mb48">轻松导入供应商的价目表和参考资料，根据促销、数量和特殊合同条件等，做出更明智的采购决策。从应用程序内跟踪供应商库存的产品可用性并检查订单状态。您还可根据您的供应商价格制定销售价格。</p>
                    <img src="//odoocdn.com/openerp_website/static/src/img/2016/purchase/purchase_screenshot_02.gif" class="img img-responsive shadow" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="o_bg_cover o_bg_arch5">
        <div class="container">
            <div class="row o_v_align_col mt92 mb92">
                <div class="col-sm-6">
                    <h2 class="display-3 mt0 mb8"><br>通过<b>采购招标</b>获得最佳要约</h2>
                    <h5 class="mb32">与多家供应商谈判，获得最优价格</h5>
                    <p>发起采购招标，在整个流程中整合供应商的回复并比较不同的提案。选择最佳要约并轻松发送采购订单。利用报告功能，在之后分析供应商的质量。</p>
                </div>
                <div class="col-sm-6">
                    <img src="//odoocdn.com/openerp_website/static/src/img/2016/purchase/purchase_screenshot_03.gif" class="img img-responsive shadow" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="container">
            <div class="row o_v_align_col mt92 mb48">
                <div class="col-sm-6 col-md-6 mb48">
                    <img src="//odoocdn.com/openerp_website/static/src/img/2016/purchase/purchase_screenshot_04.gif" class="img img-responsive shadow" alt="" style="border-radius:10px;">
                </div>
                <div class="col-sm-6 col-md-5 col-md-offset-1 mb48">
                    <h2 class="display-3 mt0 mb8">获取采购情况的<b>统计数据</b> <br></h2>
                    <h5 class="mb32">分析、预测并高效规划您的订单</h5>
                    <p>通过灵活的报告获取供应商绩效的准确统计数据（交货延迟、谈判价格折扣、采购数量等）。将采购情况与分析会计整合，分析合同的利润。</p>
                </div>
            </div>
        </div>
    </section>

    <section class="o_bg_cover" style="background-image: url(https://www.odoo.com/openerp_website/static/src/img/2016/purchase/purchase_bg_01.jpg);background-position:center center;">
        <div class="visible-xs" style="                         position : absolute;                         width    : 100%;                         height   : 100%;                         opacity  : 1;                         background-color: #f9f9f9;                     "></div>
        <div class="container">
            <div class="row mt92 mb92">
                <div class="col-sm-5">
                    <h2 class="display-3 mt0 mb8">管理多家<b>公司</b></h2>
                    <h5 class="mb32">利用 Odoo 多公司规则，节省时间和工作量</h5>
                    <p>利用单一的 Odoo 用例同步不同公司或仓库之间的运作。同时为所有公司创建销售订单、共享客户、供应商和产品并管理发票。通过所有公司开具发票流程的自动化，您还可节约更多时间！</p>
                </div>
            </div>
        </div>
    </section>



</div>