<block name="content">
<div class="solution">
    <div class="banner-bg">
        <div class="banner-title">ERP解决方案</div>
        <div class="banner-info"> 颠覆您的互联网商业定义</div>
        <div class="banner-btn "><a data-url="" href="javascript:;">改变，迫在眉睫！</a></div>
        <div><a href="javascript:$(document.body).animate({'scrollTop':1050},1000);" class="down-btn"></a></div>
    </div>
    <div class="sol-content">
        <div class="sol-content-tit">
            <h2 id="content">为您提供专业的ERP解决方案</h2>
            <p class="info justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公司建立了一整套以 Wokoo 标准化ERP软件为基础的企业管理系统解决方案。包括基于不同运维模式的企业用户广泛使用的ERP软件产品，还包括基于汽车、百货、医疗、母婴、电视、跨境、工业品、社区等行业的具体解决方案。</p>
        </div>
    </div>
    <div class="pro-box" style=" height:540px;">
        <div id="hproducts" class="pro2">
            <div class="swiper-wrapper hproducts">
                <div data-url="#" class="swiper-slide">
                    <div class="intro">
                        <h2>丰田汽车</h2>
                        <p>流程功能最完善的电商平台系统。</p>
                    </div>
                    <img width="430" height="500" src="/images/toyota.jpg" ></div>
                <div data-url="#" class="swiper-slide">
                    <div class="intro">
                        <h2>无线视点</h2>
                        <p>java技术，安全、稳定、结构合理、高并发性、强扩展性、集群部署</p>
                    </div>
                    <img width="430" height="500" src="/images/wireless.jpg" ></div>
                <div data-url="#" class="swiper-slide">
                    <div class="intro">
                        <h2>Bertinchamps 啤酒厂</h2>
                        <p> 集购物、视频、直播为一体的全生态移动商城。</p>
                    </div>
                    <img width="430" height="500" src="/images/beer.jpg" ></div>
                <div data-url="#" class="swiper-slide">
                    <div class="intro">
                        <h2>CYTOSURGE</h2>
                        <p>多终端、多平台、全民分销系统。</p>
                    </div>
                    <img width="430" height="500" src="/images/cyto.jpg" ></div>
                <div data-url="#" class="last swiper-slide swiper-slide-active">
                    <div class="intro">
                        <h2>帝国快递</h2>
                        <p>H5开发全面与微信打通，包含多种微信营销功能的商城系统。</p>
                    </div>
                    <img width="430" height="500" src="/images/empire.jpg" ></div>
            </div>
            <div class="prev5 hprev"></div>
            <div class="next5 hnext"></div>
        </div>
    </div>
    <!--<div class="sol-content">-->
        <!--<div class="sol-content-tit">-->
            <!--<h2>ShopNC为您提供专业的电商解决方案</h2>-->
            <!--<p class="info justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为专业的企业级电商系统提供商，我们沉淀了9年的行业项目经验，为超过800家知名品牌及零售企业提供适合的针对性解决方案，帮助企业适应市场发展浪潮、响应业务变化拓展。</p>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="swiper-slide">-->
        <!--<ul>-->
            <!--<li><a class="pic1" href="general.html" >综合百货行业解决方案</a></li>-->
            <!--<li><a class="pic2" href="medicine.html" >医药行业解决方案</a></li>-->
            <!--<li><a class="pic3" href="cbes.html" >跨境零售行业<br>-->
                <!--三种跨境模式</a></li>-->
            <!--<li><a class="pic4" href="O2O.html" >社区O2O行业<br>-->
                <!--线上线下完美结合</a></li>-->
            <!--<li><a class="pic5" href="industrial.html" >工业品行业解决方案</a></li>-->
            <!--<li><a class="pic6" href="car.html" >汽车行业解决方案</a></li>-->
        <!--</ul>-->
    <!--</div>-->
</div>
</block>
<block name="js">
<script>
    //hproducts js
    var hpage = $("#hproducts .swiper-slide-active").index(),
            htotal = $("#hproducts .swiper-slide").length;

    $("#hproducts").on("click", ".swiper-slide", function (e) {
        hpage = $(this).index();
        $(this).siblings("div").removeClass("swiper-slide-active").end().addClass("swiper-slide-active");
    })

    $("#hproducts").on("click", ".hprev", function (e) {
        e.preventDefault();
        hpage--;
        if (hpage < 0) {
            hpage = htotal - 1;
        }
        $("#hproducts .swiper-slide").removeClass("swiper-slide-active");
        $("#hproducts .swiper-slide").eq(hpage).addClass("swiper-slide-active");
    })


    $("#hproducts").on("click", ".hnext", function (e) {
        e.preventDefault();
        hpage++;
        if (hpage >= htotal) {
            hpage = 0;
        }
        $("#hproducts .swiper-slide").removeClass("swiper-slide-active");
        $("#hproducts .swiper-slide").eq(hpage).addClass("swiper-slide-active");
    })


    $("#hproducts").on("click", ".swiper-slide-active", function (e) {
        e.preventDefault();
        location.href = $(this).data("url");
    })
</script>
</block>