<link rel="stylesheet" href="__STATIC__/css/web.assets_frontend.2.css">
<style>
    .o-icon.text-gamma {
        border: 1px solid #333;
        border-color: inherit;
        font-size: 2em;
        border-radius: 40px;
    }
    .o_v_align_col {
        display: -ms-flexbox;
        display: -moz-box;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -ms-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-align-items: center;
        align-items: center;
    }
    .o_v_align_col > * {
        -ms-flex: 0 0 auto;
        -moz-flex: 0 0 auto;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        max-width: 100%;
    }
    .mt0 {
        margin-top: 40px !important;
    }
</style>
<div id="wrap" class="oe_structure">
        <section class="s_responsive_to_image_block js_top_banner bg-white" style="padding-bottom: 45%; background-image: url(https://www.odoo.com/openerp_website/static/src/img/2016/inventory/inventory_top_banner.jpg); background-size: auto 102.471%; opacity: 0.835255;">
            <div class="wrapper">
                <div class="container">
                    <div class="row o_v_align_col">
                        <div class="col-xs-12 col-sm-8 col-md-7 mt8 mb96">
                            <h1 class="display-2 mb16 mt0">实现
                                <br>
                                <b>仓库</b>效率最大化
                            </h1>
                            <h4 class="mb0 fw_light">现代化在线仓库
                                <br class="visible-sm">管理软件。
                            </h4>
                            <a href="/zh_CN/trial?selected_app=stock" class="mt32 mb8 btn btn-primary o_btn_cta" style="position: relative; overflow: hidden;">免费开始</a>
                            <br>
                            <div class="o_schedule_demo text-center ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="o_offset_top_medium">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="s_browser shadow mt80 mb80">
                            <img class="bar" src="//odoocdn.com/openerp_website/static/src/img/2016/components/browser.png" alt="">
                            <div class="content">
                                <img src="//odoocdn.com/openerp_website/static/src/img/2016/inventory/inventory_screenshot_01.gif" class="img img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-gray-lighter">
            <div class="container">
                <div class="row o_v_align_col text-center-sm mt92 mb48">
                    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-5 mb48">
                        <h2 class="display-3 mt0">改善绩效
                            <br>和处理时间
                        </h2>
                        <h5 class="mb32 mt8">通过复式分录智能库存系统更好地整理您的仓库。</h5>
                        <p class="mb0">获得最高效的存货方法并改善您的全部内部运营。Odoo 的复式分录库存，无存货输入、输出或转换。相反所有操作均为存货在不同位置间移动。</p>
                    </div>
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-1 mb48">
                        <div class="s_panel_video panel deep-1 deep_hover mb0" style="max-width:100%;" data-video-id="Vp5xqQOWLzE">
                            <div class="panel-body">
                                <div class="s_figure_link o_overflow_hidden">
                                    <a class="cover o_bg_cover" style="background-image: url(/openerp_website/static/src/img/2016/inventory/inventory_video_thumb.jpg);"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row mt48">
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-5 mt48">
                        <img src="//odoocdn.com/openerp_website/static/src/img/2016/inventory/inventory_screenshot_02.gif" class="img img-responsive shadow" alt="">
                    </div>
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0 col-lg-6 col-lg-offset-1 mt48">
                        <h2 class="display-3">少
                            <b>库存</b>，无
                            <b>缺货</b>
                        </h2>
                        <h5 class="mb32 mt8">可完全自动补货。</h5>
                        <p class="mb48">利用订购点和自动报价请求实现供应链
                            <br>效率最大化。
                        </p>
                        <div class="s_testimonial text-heading font-heading">
                            <div class="thumb">
                                <img src="//odoocdn.com/openerp_website/static/src/img/2016/testimonials/mario_riva.jpg" alt="" class="img-responsive">
                            </div>
                            <blockquote>
                                <p>“我们认为库存应用是更好整理仓库的强大工具。
                                    <br>这很简单且易于自定义。”
                                </p>
                                <p>
                                    <small>Mario Riva，营运总监</small>
                                </p>
                                <img src="//odoocdn.com/openerp_website/static/src/img/2016/testimonials/logo_agile.gif" alt="">
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-white">
            <div class="container">
                <div class="row mt92 mb48">
                    <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0 text-center">
                        <h2 class="display-3">
                            <b>高级功能</b>简单易用
                        </h2>
                        <h5 class="mb64">利用尖端自动化和高级路线来管理您的任何仓库。</h5>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 text-center mb48">
                        <i class="fa fa-2x fa-truck fa-flip-horizontal text-delta o-icon" style="border-radius: 40px;"></i>
                        <i class="fa fa-2x fa-long-arrow-right o-icon"></i>
                        <i class="fa fa-2x fa-users text-delta o-icon" style="border-radius: 40px;"></i>
                        <h4 class="mt24">代发货</h4>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 text-center mb48">
                        <i class="fa fa-2x fa-truck fa-flip-horizontal text-delta o-icon" style="border-radius: 40px;"></i>
                        <i class="fa fa-2x fa-long-arrow-right o-icon"></i>
                        <i class="fa fa-2x fa-truck fa-flip-horizontal text-delta o-icon" style="border-radius: 40px;"></i>
                        <h4 class="mt24">越库</h4>
                    </div>
                    <div class="col-sm-10 col-sm-offset-1 col-md-4 col-md-offset-0 text-center mb48">
                        <i class="fa fa-2x fa-industry text-delta o-icon" style="border-radius: 40px;"></i>
                        <i class="fa fa-2x fa-arrows-h o-icon"></i>
                        <i class="fa fa-2x fa-industry text-delta o-icon" style="border-radius: 40px;"></i>
                        <h4 class="mt24">多处仓库</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-gray-lighter o_bg_arch7" style="background-position: center top; background-image: url(https://odoocdn.com/openerp_website/static/src/img/2016/components/arch_7.jpg);">
            <div class="container">
                <div class="row mt92">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2 class="display-3">体验整体
                            <b>可追溯性</b>
                        </h2>
                        <h5 class="mb32 mt8">通过 Odoo 独特的复式分录库存系统追踪每一库存流动。</h5>
                        <p class="mb48">追踪从采购到仓库到销售订单的每一库存流动。追踪位于供应链中上游或下游的任何一处的批次或序列。</p>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel mb0">
                            <div class="panel-body">
                                <img src="//odoocdn.com/openerp_website/static/src/img/2016/inventory/inventory_screenshot_03.gif" class="img img-responsive" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-white">
            <div class="container o_bg_no-repeat" style="background-image: url('https://www.odoo.com/openerp_website/static/src/img/2016/inventory/inventory_reporting_01.gif'); background-position: right bottom; background-size: 100% auto;">
                <div class="row mt92 mb128">
                    <div class="col-sm-7 col-md-6 col-md-offset-1 col-lg-5 mb128">
                        <h2 class="display-3 mt0">清晰且完整的
                            <b>报告</b>
                        </h2>
                        <h5 class="mb32 mt8">了解实时报告。</h5>
                        <p class="mb48">利用可保存且可与他人分享的实时动态报告，作出更明智的决定。通过自定义统计面板，将关键信息控制在您指端。</p>
                    </div>
                </div>
            </div>
        </section>
</div>