<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="description" content="">
<title>宣汉7yun官网 - B2B2C商城系统,电商系统，多用户商城系统,微商城</title>
<meta name="author" content="宣汉7yun">
<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
<meta name="viewport" content="width=640,target-densitydpi=320, user-scalable=no">
<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
<meta content="no-cache,must-revalidate" http-equiv="Cache-Control">
<meta content="no-cache" http-equiv="pragma">
<meta content="0" http-equiv="expires">
<meta content="telephone=no, address=no" name="format-detection">
<meta name="HandheldFriendly" content="true">
<meta http-equiv="X-Frame-Options" content="SAMEORIGIN">
<!-- uc强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-orientation" content="portrait">
<!-- UC强制全屏 -->
<meta name="full-screen" content="yes">
<!-- QQ强制全屏 -->
<meta name="x5-fullscreen" content="true">
<!-- UC应用模式 -->
<meta name="browsermode" content="application">
<!-- QQ应用模式 -->
<meta name="x5-page-mode" content="app">
<!-- windows phone 点击无高光 -->
<meta name="msapplication-tap-highlight" content="no">
<!-- 适应移动端end -->
<!-- apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
<!-- Mobile Devices -->
<meta name="msapplication-TileColor" content="#00AEEB"/>
<!-- Windows 8 磁贴颜色 -->
<meta name="msapplication-TileImage" content="/Public/images/logo_ico.png"/>
<!-- Windows 8 磁贴图标 -->
<link rel="shortcut icon" href="images/favicon.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet" href="css/style.css" >
<script type="text/javascript" src="js/jquery-1.9.1.js" ></script>
<script type="text/javascript" src="js/yxMobileSlider.js" ></script>

<!--引入菜单-->
<script type="text/javascript" src="js/menu.js" ></script>
</head>
<body>
<input id="menustate" class="menustate" type="checkbox">
<nav id="ncnav"> </nav>
<div class="banner">
  <div style="width: 640px; height: 640px; position: relative; overflow: hidden; margin: 0px auto;" class="slider">
    <ul style="position: absolute; left: -2560px; width: 3840px;">
      <li><a href="Bizpower.html" ><img src="image/nc_banner_1.jpg"  alt="宣汉7yun" alt=""></a></li>
      <li><a href="distribution.html" ><img src="image/nc_banner_2.jpg"  alt="宣汉7yun" alt=""></a></li>
      <li><a href="live.html" ><img src="image/nc_banner_3.jpg"  alt="宣汉7yun" alt=""></a></li>
      <li><a href="live.html" ><img src="image/nc_banner_4.jpg"  alt="宣汉7yun" alt=""></a></li>
      <li><a href="solutions.html" ><img src="image/nc_banner_5.jpg"  alt="宣汉7yun" alt=""></a></li>
    </ul>
    <div style="min-height: 0px; position: absolute; bottom: 0px; width: 640px; height: 64px; z-index: 2;"class="focus">
    <div>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    <span class="current" style="display: inline-block; cursor: pointer;"></span>
    <span class="" style="display: inline-block; cursor: pointer;"></span>
    </div>
    </div>
  </div>
</div>
<script>
    $(".slider").yxMobileSlider({width: 640, height: 640, during: 5000});
</script>
<div class="product">
  <ul>
    <li class="B2B2C">
      <p>B2B2C多用户商城系统</p>
      流程功能及模块最完善的电商平台系统 <span>商城、资讯、圈子、微商城、即时通讯</span> <a href="B2B2C.html" >进一步了解 &gt;</a> </li>
    <li class="B2B">
      <p>Java多用户商城系统</p>
      满足于B2B&B2B2C的电商销售系统 <span>构筑生态级多用户商城平台</span> <a href="Bizpower.html" >进一步了解 &gt;</a> </li>
    <li class="O2O">
      <p>移动端商城</p>
      原生开发的Android及iOS APP应用 <span>与PC端完全打通 随时随地 自由购物</span> <a href="APP.html" >进一步了解 &gt;</a> </li>
    <li class="C2C">
      <p>行业解决方案</p>
      让企业拥有互联网力量 <span>帮助企业构筑围绕用户的营销互动能力</span> <a href="solutions.html" >进一步了解 &gt;</a> </li>
  </ul>
</div>
<div class="footer" id="footer"> </div>
<div class="bottom_nav" id="footer_menu"> </div>
</body>
</html>