<div class="index-top">
  <div class="top-box">
    <div class="left">售前电话：<b>{$config.pre_phone}</b></div>
    <div class="right">
            <!--<span class="mr30"><a href="{:U('login')}"  style="color:#ddddde" title="会员登录" target="_blank">会员登录</a> | <a href="{:U('login-register')}"  style="color:#ddddde" title="注册" target="_blank">注册</a></span>-->
            <span class="mr30"><a href="http://yanshi.youbaninfo.com/web/login"  style="color:#ddddde" title="我要试用" target="_blank">我要试用</a></span>
          </div>
  </div>
</div>
<div class="topnav" id="topnav"> 
  <!--<div class="clear"></div>-->
  <div class="top-wrap">
    <div class="top-logo"><a href="{:U('index')}"  title="ShopNC" ><img src="/{:get_image_path($config['logo'])}"  alt="{$config.company_name}"/></a></div>
    <ul class="top-nav primary">
      <li class="nav-list"><a href="{:U('index')}"  class="nav-list-link" title="首页">首页</a></li>
      <li class="nav-list nav-l" style="position:relative;"><a href="javascript:void(0);" class="nav-list-link nav-arrow" title="产品模块">产品模块<i></i></a>
        <div class="clear"></div>
        <div class="sub">
          <div class="little-up"></div>
          <div class="cont">
            <dl style="border-bottom: dotted 1px #CCC;" >
              <dt><a href="{:U('crm')}"  title="CRM">CRM</a></dt>
              <dd> <a href="{:U('crm')}"  title="CRM">真实客户为中心的CRM</a></dd>
            </dl>
			<dl style="border-bottom: dotted 1px #CCC;" >
              <dt><a href="{:U('sales')}"  title="销售模块">销售模块</a></dt>
			  <dd><a href="{:U('sales')}"  title="销售模块">业务流程一体及促进订单成交 </a></dd>
            </dl><dl style="border-bottom: dotted 1px #CCC;" >
              <dt><a href="{:U('warehouse')}" title="仓库模块">仓库模块</a></dt>
			  <dd><a href="{:U('warehouse')}" title="仓库模块">现代化在线仓库，实现效率最大化</a></dd>
            </dl><dl style="border-bottom: dotted 1px #CCC;" >
              <dt><a href="{:U('purchase')}"  title="采购模块">采购模块</a></dt>
			  <dd><a href="{:U('purchase')}"  title="采购模块">改善您的供业链和库存绩效</a></dd>
            </dl><dl style="border-bottom: dotted 1px #CCC;" >
              <dt><a href="{:U('account')}"  title="财务模块">财务模块</a></dt>
			  <dd><a href="{:U('account')}"  title="财务模块">用更少的时间，做更多的事情</a></dd>
            </dl>
            </a>
            <!-- <a href="mall-java.html"  title="Java多用户商城系统">
              <dl>
                <dt>Java多用户商城系统</dt>
                <dd>Java技术，安全、稳定、结构合理、高并发性、强扩展性、集群部署。</dd>
              </dl>
            </a>  -->
          </div>
        </div>
      </li>
      <li class="nav-list"><a href="{:U('solution-list')}"  class="nav-list-link" title="行业案例">行业案例</a>
        <div class="clear"></div>
      </li>
      <!--<li class="nav-list"><a href="{:U('case')}"  class="nav-list-link" title="成功案例">成功案例</a></li>-->
      <!--<li class="nav-list"><a href="{:U('cooperation')}"  class="nav-list-link" title="合作代理">合作伙伴</a></li>-->
      <li class="nav-list"><a href="{:U('aboutus')}"  class="nav-list-link" title="关于我们">关于我们</a></li>
    </ul>
  </div>
</div>
<div class="clear"></div>

